body {
    margin: 0;
    padding: 0;
    color: #626262;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    min-width: 320px;
}

* {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0 0 20px;
}

.logo {
    color: #000;
    font-size: 30px;
    margin-bottom: 50px;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

.header {
    padding: 75px 0 30px;
    text-align: center;
}

.nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav li {
    display: inline-block;
    vertical-align: top;
    padding: 0 45px;
}

.nav a {
    color: inherit;
    text-decoration: none;
}

.nav a:hover {
    color: #ea1313;
}

#wrapper {
    width: 100%;
    position: relative;
  
}

.container  {
    max-width: 1093px;
    margin: 0 auto 0 auto;
    padding: 0 15px;
}

.uppercase {
    text-transform: uppercase;
}

.visual img {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
}

.visual {
    margin-bottom: 30px;
}

.content-section h1 {
    margin: 0 0 30px;
}

.content-section {
      max-width: 900px;
}

.text{
    color: #b4ad9e;
}

.list{
    padding-left: 15px;
}

.list a{
    color:inherit;
    text-decoration: none;
}

.list a:hover{
    color: #ea1313; 
}

.textend{
    text-align: center;
}

form{
    border: 3px solid #000;
    border-radius: 5px;
    width: 300px;
    padding: 10px;
    margin-bottom: 50px; 
}

.form-row{
    margin-bottom: 10px;
}

iframe {
    display: block;
    width: 100%;
    height:auto;
    min-height: 400px;
    margin-bottom: 30px;
    border:0
}

.map, .video, span {
    color: #000;
}

footer{
    background: #f0f0f0;
    height: 100px;
    overflow: hidden;   
}

.footer{
  float: right;
  margin: 50px 0;  
}

.footer a{
    padding-left: 10px;
    color: #6a6a6a;
}

.footer a:hover{
    color: #ea1313;
}