//color
$gray: #777;
$black: #000;
$white: #fff;
$blue: #7690c5;

// Body styles
$base-font-brandon: 'brandon_grotesque', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$base-text-color: $black;
$base-background-color: $white;
$base-font-family: $base-font-brandon;
$base-font-size: 18px;
$base-line-height: 1.2;
$base-min-width: 320px;

// Links styles
$base-link-color: $blue;

// Buttons styles
$btn-color: $white;
$btn-background: $black;
$btn-padding: 0;
$btn-font-size: inherit;
