// breakpoints for media
$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1200px
);

//fonts
@import 'basic-settings/variables';
@import 'common-settings/icons';
@import 'common-settings/include-media';
@import 'common-settings/normalize';

@import 'common-settings/_fonts';
@import 'basic-settings/reset';
@import 'basic-settings/heading-styles';


body {
  color: $base-text-color;
  background: $base-background-color;
  font: #{$base-font-size}/#{$base-line-height} $base-font-family;
  min-width: $base-min-width;
}

#wrapper {
  position: relative;
  width: 100%;
  text-align: center;
  // overflow: hidden;
}


img {
  max-width: 100%;
  height: auto;
}

p {
  color: gray;
  line-height: 24px;
  font-family: $base-font-family;
}

a {
  color: $base-link-color;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, img, ol, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
}

.container {
  margin: 0 auto;
  max-width: 970px;
  padding: 0 15px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__contant {
  padding: 44px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  .nav__ul {
    margin: 0 -13px;
    line-height: 1.2;
    font-size: 18px;
    li {
      font-weight: 500;
      padding: 0 13px;
      a {
        color: white;
      }
    }
  }
}

.visual {
  background-image: url("../images/background.jpg");
  background-position: -25px 0;
  color: white;
  padding-top: 220px;
  @include media('<tablet') {
    padding-top: 130px;
  }

  h3 {
    font-weight: 300;
    letter-spacing: -0.8px;
    padding-bottom: 29px;
  }
  h1 {
    letter-spacing: -1px;
    padding-bottom: 65px;
    @include media('<tablet') {
      font-size: 40px;
    }
  }
  .visual__holder {
    padding-bottom: 126px;
    @include media('<tablet') {
      padding-bottom: 50px;
    }
  }
  .visual__link {
    display: inline-block;
    font-size: 23px;
    font-weight: bold;
    padding: 16px 66px;
    color: white;
    border: 2px solid white;
    border-radius: 2px;
  }
}

.services__holder {
  text-align: left;
  padding: 87px 50px 95px 41px ;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  @include media('<tablet') {
    flex-wrap: wrap;
    padding: 30px 15px 30px 15px;
    position: relative;
    .services__text {
      margin: 0 auto;
      z-index: 1;
    }
  }
  .services__img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @include media('<tablet') {
      padding-top: 15px;
      width: 200px;
      height: 200px;
      position: absolute;
      z-index: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  span {
    font-weight: 300;
  }
  h2 {
    padding-bottom: 32px;
    letter-spacing: -1.3px;
    @include media('<tablet') {
      font-size: 35px;
    }
  }
  p {
      letter-spacing: -0.44px;
      max-width: 560px;
      padding-bottom: 33px;
      @include media('<tablet') {
        max-width: 100%;
      }
      + p {
        padding-bottom: 0;
      }
    }
}

.services__item:nth-child(even) {
    background: #fafafa;
    .services__holder {
      flex-direction: row-reverse;
    }
    p {
      max-width: 522px;
      @include media('<tablet') {
        max-width: 100%;
      }
    }
}

.skills__holder {
  padding: 100px 40px 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  @include media('<tablet') {
    padding: 50px 40px 48px;
  }
  p {
    line-height: 22px;
    max-width: 281px;
    font-size: 19px;
    letter-spacing: -0.85px;
    @include media('<desktop') {
      // max-width: 100%;
    }
  }
  h4 {
    margin-bottom: 11px;
  }
  .skills__item {
    margin-bottom: 45px;
    @include media('<desktop') {
      width: 50%;
      text-align: center;
    }
    @include media('<tablet') {
      width: 100%;
      text-align: center;
    }
      .skills__icon {
        display: inline-block;
        vertical-align: top;
        color: white;
        background: black;
        border-radius: 50%;
        font-size: 40px;
        padding: 15px;
      }
      .skills__text {
        display: inline-block;
        vertical-align: top;
        padding-left: 17px;
        @include media('<desktop') {
          padding: 0;
        }
        & h4 {
          font-size: 21px;
        }
      }
  }
}

.clients {
  // padding: 78px 0;
  
  .clients__feedback {
    background: #fafafa;
    padding: 88px 0 95px 0;
    @include media('<tablet') {
      padding: 40px 0 40px 0;
    }
    h2 {
      letter-spacing: -1.5px;
      @include media('<tablet') {
        font-size: 35px;
      }
    }
    h5 {
      font-size: 22px;
      font-weight: 400;
      color: gray;
      letter-spacing: -0.45px;
      margin-bottom: 46px
    }
    & h2 span {
      font-weight: 300;
    }
  }
}

.client__img {
  background: #000;
    width: 234px;
    height: 234px;
    border-radius: 50%;
    border: 6px solid white;
    margin: -6px;
}

.clients__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    margin-bottom: 38px;
    
    .client__text {
      border: 2px solid #f2f2f2;
      margin: 0 30px;
      max-width: 645px;
      padding: 34px 80px;
      background: white;
      margin: 11px 30px 0 42px;
      position: relative;
      p {
        font-size: 26px;
        letter-spacing: -0.5px;
        line-height: 34px;
      }
      cite {
        font-style: normal;
        font-size: 20px;
        line-height: 36px;
        letter-spacing: -0.4px;
      }
      &:before {
        content: "";
        position: absolute;
        right: 100%; 
        top: 50%;
        transform: translate(50%,-50%) rotate(45deg);
        width: 18px;
        height: 16px;
        background: white;
        box-shadow: -2px 2px 1px rgba(242, 242, 242, 1);
      }
    }
    
}

.clients__item:nth-child(even) {
    flex-direction: row-reverse;
    margin: 0;  
    .client__text {
      margin: 0 42px 0 30px;
    }  
    .client__text:before {
      content: "";
      left: 100%; 
      transform: translate(-50%,-50%) rotate(45deg);
      box-shadow: 2px -2px 1px rgba(242, 242, 242, 1);
      } 
}

.clients__logos {
  max-height: 160px;
  .clients__logos-holder {
    height: 160px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @include media('<phone') {
      max-height: 100px;
    }
    ul {
      li {
        padding: 0px 20px;
        vertical-align: -webkit-baseline-middle;
        @include media('<desktop') {
          width: 25%;
          padding: 0 5px;
        }
        
      }
    }
  }
}

.team {
  color: white;
  background: #111;
  padding: 87px 0 95px;
  p {
    font-size: 20px;
    max-width: 600px;
    letter-spacing: -1.5px;
    line-height: 28px;
    margin: 0 auto;
    color: white;
  }
  h2 {
    span {
      font-weight: 300;
    }
  }
  h4 {
    font-weight: 400;
    color: gray;
    margin-bottom: 75px;
  }
  .team__holder {
    font-size: 0;
    line-height: 0;
    margin-bottom: 44px;
    .team__item {
      display: inline-block;
      vertical-align: top;
      line-height: 1;
      font-size: 18px;
      padding: 0 23px;
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
          font-size: 20px;
          line-height: 1;
          border-radius: 50%;
          border: 3px solid white;
          width: 40px;
          height: 40px;
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: center;
          margin: 0 5px;
          a {
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            i {
              vertical-align: middle;
            }
          }
        }
      }
      h5 {
        margin-bottom: 10px;
        font-size: 17px;  
      }
      h6 {
        font-weight: 400;
        margin-bottom: 11px;
        font-size: 15px;
      }
      .team__img {
        width: 234px;
        height: 234px;
        border: 7px solid white;
        border-radius: 50%;
        margin: 0 auto 18px;
      }  
    }
  } 
}
