$h1-basic-font-size: 66px;
$h2-basic-font-size: 52px;
$h3-basic-font-size: 40px;
$h4-basic-font-size: 22px;
$h5-basic-font-size: 18px;
$h6-basic-font-size: 15px;

 h1,h2,h3,h4,h5,h6 {
  font-family: inherit;
  font-weight: 400;
  color: inherit;

}

h1 {
  font-size: $h1-basic-font-size;
}

h2{
  font-size: $h2-basic-font-size;
}

h3 {
  font-size: $h3-basic-font-size;
}

h4 {
  font-size: $h4-basic-font-size;
}

h5 {
  font-size: $h5-basic-font-size;
}

h6 {
  font-size: $h6-basic-font-size;
}

p {
	color:$p-color;
	font-size: 16px;
	padding: 10px 0;
}