body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #626262;
	min-width: 320px;
	font-family: "Times New Roman", Times, serif;
}

* {
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6, p {
	margin: 0 0 20px;
}

/*служеюные классы*/

.container {
	max-width: 1093px;
	margin: 0 auto 0 auto;
	padding: 0 15px;
	background: #f0f0f0;
}

.uppercase {
	text-transform: uppercase;
}


/*использовать служебные классы осторожно */

#wrapper{
	width: 100%;
	position: relative;
	/*overflow: hidden;*/
}


/*-----HEADER-----*/

header {
	padding: 75px 0 35px;
	text-align: center;
}

.logo {
	margin-bottom: 60px;
}

.nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav ul li {
	display: inline-block; 
	padding: 0 45px;
}

.nav a {
	text-decoration: none;
	color: inherit;
}

.nav a:hover {
	color: red;
}


/*-----HEADER-----*/



/*-----VIASUAL-----*/

.visual img {
	max-width: 100%;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 50px;
}

/*-----VIASUAL-----*/