@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?crolmd');
  src:  url('fonts/icomoon.eot?crolmd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?crolmd') format('truetype'),
    url('fonts/icomoon.woff?crolmd') format('woff'),
    url('fonts/icomoon.svg?crolmd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-heart:before {
  content: "\e9da";
  background: #e84545;
}
