$breakpoints: (
	'xs-phone': 320px,
	'phone': 480px,
	'tablet': 768px,
	'desktop': 1024px,
	'widescreen': 1200px
	);





@import "variables";

@import "../fonts/fonts";

@import "../icomoon/icons";

@import "_reset";

@import "include-media";

@import "_helpers";

@import "_mixins";


* {
	box-sizing: border-box;
}

body {
font-family: $base-font-family;
}


.wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.logo {
	font-family: "wisdom";
	font-style: italic;
	font-size: 35px;
	
	.logo-name {
		display: inline-block;
		vertical-align: top;

		&:first-letter {
			color: #fc5f45;
		}
	}
	a {
		color: #616161;
		text-decoration: none;
	}
}

	.number {
		display: block;
		font-size: 274px;
		font-family: inherit;
		font-weight: bold;
		color: #e0e0e0;
		position: absolute;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
	}

.header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 99;
	background: $white;
}

.container {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}

.header-wrap {
	display: flex;
	flex-flow: row wrap;
	align-items:center;
	justify-content: space-between;
}



.navigation {
	color: #272727;
	.menu-btn {
		@include media (">=tablet") {
		display: none;
		}
	}
	.drop {
		>ul {
			margin: 0 -15px;
			font-size: 0;
			line-height: 0;
			@extend %listreset;

			>li {
				font-size: 15px;
				line-height: 1.2;
				display: inline-block;
				vertical-align: top;
				position: relative;
				padding: 28px 15px;
				@extend %transition;
				cursor: pointer;
				
				&:last-child {
					.dropdown{
						left: auto;
						right: 0;
					}
				}
				&:hover {
					background: #fc5f45;
					>a {
						color: $white;
					}
					.dropdown {
						opacity: 1;
						visibility: visible;
					}
				}
				>a {
					text-decoration: none;
					color: #272727;
					font-weight: 500;
				}
				.dropdown {
					width: 200px;
					position: absolute;
					top: 100%;
					left: 0;
					opacity: 0;
					visibility: hidden;
					@extend %transition;
					>ul {
						@extend %listreset;
						
						>li {
							padding: 10px 15px;
							position: relative;
							background: $black;
							@extend %transition;
						&:hover {
							background: #b27cf5;
							.dropdown-second{
								opacity: 1;
								visibility: visible;
							}
						}
							>a {
								text-decoration: none;
								color: $white;
							}
						}
						.dropdown-second {
							width: 200px;
							position: absolute;
							top: 0;
							left: 100%;
							opacity: 0;
							visibility: hidden;
							@extend %transition;

							>ul {
								@extend %listreset;
								
								>li {
									padding: 10px 15px;
									background: #38c695;
									@extend %transition;
									&:hover {
										background: #c1cc00;
									}
									>a {
										text-decoration: none;
										color:$black;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}


.visual {
	min-height: 850px;
	text-align: center;
	white-space: nowrap;
	background: #3f4049;
	margin-bottom: 20px;
	
	>* {
		white-space: normal;
		display: inline-block;
		vertical-align: middle;		
	}
	.text-hold {
		padding: 40px;
		max-width: 810px;
	}

	h1 {
		font-family: "libre_baskerville";
		font-weight: 400;
		font-size: $h1-basic-fsz;
		color: $white;

	}
	
	&:after {
		content: "";
		display: inline-block;
		vertical-align: middle;
		width: 0;
		min-height: 850px;
	}
	
	.btn {
		display: inline-block;
		vertical-align: top;
		margin-bottom: 50px;
	
		a {
			display: block;
			text-decoration: none;
			text-transform: uppercase;
			color: $white;
			padding: 20px 40px;
			font-weight: 600;
			border-radius: 40px;
			background: #fc5f45;
			@extend %transition;

			&:hover {
				background: #f70202;

			}
		}
	}
	.our-proposes {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items:center;
	
	.proposes {
		max-width: 33.3%;
		padding: 0 10px;
		p {
			font-family: inherit;
			font-weight: 500;
			font-size: 18px;
			text-transform: uppercase;
			margin-bottom: 5px;
			}
		.icon {
			margin-bottom: 30px;

			i {
				font-size: 40px;
			}
		}	
	}

	.money {
		color: #38c695;
		}
	.time {
		color: #b27cf5;
		}
	.check {
		color: #feb960;
	}		
	}
}

.main {
	.text-hold {
		margin-bottom: 30px;
		text-align: center;
		position: relative;
	
		h2 {
			font-family: "libre_baskerville";
			font-weight: 700;
			font-size: 50px;
			margin-bottom: 10px;
			}
		p {
			font-family: inherit;
			font-size: 18px;
			margin-bottom: 20px;
			}
	}


	.about-us-wrap {
		display: flex;
		flex-flow:row wrap;
		justify-content: space-between;
		align-items:center;
		position: relative;
		padding-bottom: 50px; 
		.our-photo {
			min-width: 555px;
			min-height: 690px;
			background: linear-gradient(to top, #d9aca5, #cbcbcb);
			position: relative;
			
			&:after {
				content: "";
				position: absolute;
				top: -5px;
				left: -5px;
				right: -5px;
				bottom: -5px;
				background: linear-gradient(to top, #ae8a83, #a3a3a3);
				z-index: -1;
			}
		}
	
		.our-info {
			max-width: 652px;
			min-height: 550px;
			margin-left: -70px;
			padding: 40px 60px;
			background: $white;
			position: relative;
			z-index: 111;
			color: $black;
			font-size: 15px;
			-webkit-box-shadow: 24px 2px 83px -10px rgba(0,0,0,0.66);
			-moz-box-shadow: 24px 2px 83px -10px rgba(0,0,0,0.66);
			box-shadow: 24px 2px 83px -10px rgba(0,0,0,0.66);
			
			.number {
				display: block;
				font-size: 274px;
				font-family: inherit;
				font-weight: bold;
				color: #e0e0e0;
				position: absolute;
				left: 20%;
				top: 0;
				z-index: -1111;
			}
				
			&:before {
				content: "";
				position: absolute;
				top: 100%;
				left: 0;
				height: 3px;
				border-left: 163px solid #fc5f45; 
				border-right: 163px solid #38c695;
			}

			&:after{
				content: "";
				position: absolute;
				top: 100%;
				right: 0;
				height: 3px;
				border-left: 163px solid #b27cf5;
				border-right: 163px solid #feb960;
			}
			.heading {
				font-size: 50px;
				font-family: "libre_baskerville";
				font-weight: bold;
			}
		}
	}
	.our-focus {
		text-align: center;
		background: #f7f7f7;
		padding: 100px 0 100px;
		position: relative;

		.works-wrap {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items:center;
			margin: 0 -15px;
			padding-top: 50px;
			
			
			.work-wrap {
				width: 25%;
				padding: 50px 15px;
				margin-bottom: 10px;
				@include media("<desktop") {
					width: 50%;
				}
				@include media ("<tablet") {
					width: 100%;
				}
			}
			.browser {
				border-bottom:3px solid #fc5f45;
			}
			.map {
				border-bottom:3px solid #38c695;
			}
			.picture {
				border-bottom:3px solid #b27cf5;
			}
			.tablet {
				border-bottom:3px solid #feb960;
			}
			.work {
				background: $white;
				padding: 70px 20px;
				
				h3 {
					font-family: inherit;
					font-weight: 500;
					font-size: $h3-basic-fsz;
					margin-bottom: 20px;
				}
				p {
					font-size: 15px;
				}
				.icon {
					margin-bottom: 20px;
				i {
					font-size: 50px;
					}	
				}

				.icon-browser {
					color: #fc5f45;
				}	
				.icon-map {
					color: #38c695;
				}
				.icon-picture {
					color: #b27cf5;
				}
				.icon-tablet {
					color: #feb960;
				}
			}
		}
	}

	.media {
		background: #3f4049;
		text-align: center;
		color: $white;
		padding: 50px 0 50px;
		strong {
			font-family: inherit;
			font-size: 30px;
			font-weight: 400;
			display: block;
			margin-bottom: 30px;
		}
		
		.icon {
			margin-bottom: 20px;
			font-family: inherit;
			font-size: 15px;
			color: $white;
			i {
				font-size: 80px;
				color: #3c7c6b;
				display: inline-block;
				margin-bottom: 20px;
				padding: 10px; 
				&:hover {
					cursor: pointer;
				}
			}
			span {
			display: block;
			margin-bottom: 10px;
		}
		}
	}

	.portfolio {
		padding: 120px 0;
		margin-bottom: 50px;
		position: relative;
	
		.works-examples {
			display: flex;
			flex-flow:row wrap;
			justify-content: space-around;
			align-items:center;
			padding-top: 80px;
		
		.example {
			margin: 10px;
			position: relative;

			.icon {
				position: absolute;
				left: 50%;
				top: 50%;
				transform:translate(-50%,-50%);
				font-size: 60px;
				color: $white;
				opacity: 0;
				visibility: hidden;
				@extend %transition;
			}
			&:hover {
				.hover-text {
				opacity: 1;
				visibility: visible;
				height: 25%;
				}
				.icon {
					opacity: 1;
					visibility: visible;
				}
				img {
					opacity: .6;
				}
			}
			.example-photo {
				img {
					width: 100%;
					height: 100%;
				}
			}
			.hover-text {
				position: absolute;
				bottom: 0;
				left: 50%;
				text-align: center;
				width: 100%;
				transform:translateX(-50%);
				opacity: 0;
				visibility: hidden;
				height: 0;
				background: $white;
				border-top: 3px solid $black;
				@extend %transition;

				strong {
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%,-50%);
					font-size: 18px;
				}
			}
		}
			a {
			display: block;
			text-decoration: none;
			color: $black;
			

			}
		}

	}

	.our-team {
		background: #f7f7f7;
		position: relative;
		padding: 100px 0;
		
		.about-worker {
			display: none;
		}
		.about-worker.visible{
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items:center;
			padding: 50px;
			background: $white;

		}

		.team-wrap {
			display: flex;
			flex-flow:row wrap;
			justify-content: space-around;
			align-items: center;
			text-align: center;
			margin-bottom: 40px;
			padding-top: 100px;
			
			#work1{
				border-bottom: 3px solid #fc5f45;
				.worker-name {
					color: #fc5f45;
				}
			}

			#work2 {
				border-bottom: 3px solid #38c695;
				.worker-name {
					color: #38c695;
				}
			}

			#work3 {
				border-bottom: 3px solid #b27cf5;
				.worker-name {
					color: #b27cf5;
				}
			}

			#work4 {
				border-bottom: 3px solid #feb960;
				.worker-name {
					color: #feb960;
				}
			}


			.worker {
				padding: 10px;
				background: $white;
				position: relative;

				&:hover {
					&:after {
						opacity: 1;
						visibility: visible;
					}
				}
			
			.worker-photo {
				width: 250px;
				height: 265px;
				background: linear-gradient(to top, #d7aca5, #cbcbcb);
				margin-bottom: 20px;
			}
			.worker-name {
				display: block;
				margin-bottom: 10px;
				font-family: inherit;
				font-size: 18px;
				color: #fc5f45;

			}
			.worker-post {
				font-family: inherit;
				font-size: 13px;
				display: block;
				margin-bottom: 10px;
			}
			

			&:after {
				content: "";
				position: absolute;
				top: 100%;
				left: 50%;
				transform: translate(-50%, 50%);
				border-bottom: 30px solid $white;
				border-right: 30px solid transparent;
				border-left: 30px solid transparent;
				opacity: 0;
				visibility: hidden;
				}
			}
		}
	}


		.description {
			max-width: 660px;

			strong {
				display: block;
				margin-bottom: 20px;
				font-size: 20px;
				font-family: inherit;
			}
			p {
				font-size: 15px;
			}
		}
		.icon {
			font-size: 40px;
			color: #fd826e;
		} 
		.social-media {
			@extend %listreset;
			border-left: 2px solid #efefef;
			padding-left: 50px;

			li {
				padding: 5px 0;
			}

			a {
				text-decoration: none;
				color: #616161;
				display: block;
				@extend %transition;

				&:hover {
					opacity: .6;
				}
			
				i {
					padding-right: 5px;
				}
		}

	}
}

.our-features {
	background: url("../img/coffee-pic.png");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	padding: 50px 0;

	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: #262732;
		opacity: 0.85;
	} 

	.features-wrap {
		display: flex;
		flex-flow:row wrap;
		justify-content: space-between;
		align-items:center;
		text-align: center;
		position: relative;
		z-index: 9999;
			
		.feature {
			
			color: $white;
			font-family: inherit;
			padding: 10px;
			.icon {
				padding: 20px;
			}

			.digits {
				font-size: 20px;
				display: block;
				margin-bottom: 10px;
			}

			.descr {
				font-size: 15px;
				display: block;
				margin-bottom: 30px;
			
			}
			.circle {
				display: inline-block;
				vertical-align: top;
				width: 7px;
				height: 7px;
				border-radius: 50%;
				background: $white;
				position: relative;
			
				&:after {
					content: "";
					position: absolute;
					left: -3px;
					top: -3px;
					right: -3px;
					bottom: -3px;
					border: 2px solid $white;
					border-radius: 50%;
				}
			}
		}
	}

}


.work-steps {
	position: relative;
	padding: 100px 0;

	.works-hold {
		padding-top: 100px;
		.works-row {
			position: relative;
			min-height: 300px;
			text-align: center;
			.bg-color {
				display: inline-block;
				vertical-align: middle;
				width: 556px;
				background: yellow;
				min-height: 300px;
				font-size: 10px;
				line-height: 1;
			}
			.orange {
				background: orange;
			}
			.green {
				background: green;
			}
			.pink {
				background:pink;
			}
			.yellow {
				background:yellow;
			}
			.works {
				display: inline-block;
				vertical-align: middle;
				width: 40%;
				min-height: 300px;
				text-align: left;
				background: $white;
				padding: 60px 10px 10px 125px;
				font-family: inherit;
				position: absolute;
				left: 5%;
				bottom: 10%;
				border-bottom: 2px solid green;
				-webkit-box-shadow: 0px 0px 21px 4px rgba(0,0,0,0.75);
				-moz-box-shadow: 0px 0px 21px 4px rgba(0,0,0,0.75);
				box-shadow: 0px 0px 21px 4px rgba(0,0,0,0.75);
				.small-number {
					font-family: "libre_baskerville";
					font-size: 50px;
					color: #e0e0e0;
					position: absolute;
					left: 5%;
					top: 5%;
				}
				.works-descr {
					font-size: 25px;
					display: block;
					margin-bottom: 10px;
					font-weight: 400;
				}
				p{
					font-size: 15px;
					margin-bottom: 10px;
				}	
			}
			&:nth-child(even) {
				
				.works {
					position: absolute;
					left: auto;
					right: 5%;
					bottom: 10%;
				}
			}
		}
	}
}

.pricing-table {
	background: #f7f7f7;
	padding-top: 100px;
	position: relative;

		.price-offer-wrap {
			padding: 100px 0;
			display: flex;
			flex-flow:row wrap;
			justify-content: space-around;
			align-items:center;
			margin: 0 -25px;

			.price-green { 
				border-top: 2px solid #38c695;
				.price-circle {
					background: #38c695;
					&:before {
						border: 2px solid #38c695;
					}
				}
				a {
					border: 1px solid #38c695;
					color: #38c695;

					&:hover {
						background: #38c695;
					}
				}
			}

			.price-violet { 
				border-top: 2px solid #b27cf5;
				.price-circle {
					background: #b27cf5;
					&:before {
						border: 2px solid #b27cf5;
					}
				}
				a {
					border: 1px solid #b27cf5;
					color: #b27cf5;

					&:hover {
						background: #b27cf5;
					}
				}
			}

			.price-orange {
				border-top: 2px solid #fc5f45;
				.price-circle {
					background: #fc5f45;
					&:before {
						border: 2px solid #fc5f45;
					}
				}
				a {
					border: 1px solid #fc5f45;
					color: #fc5f45;

					&:hover {
						background: #fc5f45;
					}
				}
			}

			.price-offer {
			background: $white;
			text-align: center;
			padding: 40px 25px;
			margin-bottom: 10px;
			margin: 5px;
			
			

			.name-offer {
				display: block;
				margin-bottom: 20px;


			}

			.price-circle {
				width: 100px;
				height: 100px;
				border-radius: 50%;
				display: inline-block;
				vertical-align: top;
				position: relative;
				color: $white;
				margin-bottom: 20px;

				.price {
					display: block;
					padding-top: 30px;
					font-size: 25px	;
				}
				.month {
					font-size: 13px;
				}
				&:before {
					content: "";
					position: absolute;
					left: -3px;
					top: -3px;
					right: -3px;
					bottom: -3px;
					border-radius: 50%;
					
					}
				}
				
				ul {
					font-size: 0;
					line-height: 0;
					margin: 0;
					padding: 0;
					list-style-type: none;
					margin-bottom: 20px;

					li {
						font-size: 15px;
						line-height: 1.2;
						padding: 5px;
					}
				}

				.get-started {
					display: inline-block;
					vertical-align: top;
					a {
						border-radius: 40px;
						padding: 15px;
						display: block;
						text-decoration: none;
						text-transform: uppercase;
						font-family: inherit;
						font-size: 16px;
						font-weight: 600;
						@extend %transition;

						&:hover {
							color: $white;
						}
					}
				}
			}
		}
}

.testimonials {
	background: #3f4049;
	padding: 100px 0;
	position: relative;
	
	.number {
		color: #5d5d62;
	}
	.text-hold {
		color: $white;
	}

	
	.owl-carousel {
		padding-top: 100px;


		.owl-nav {
			display: none;
		}

		.owl-dots {
			float: right;
			 @extend %clearfix;
			button {
				display: inline-block;
				vertical-align: top;
				width: 12px;
				height: 12px;
				border-radius: 50%;	
				margin: 0 10px;
				position: relative;
				outline: 0;

				&:after {
					content: "";
					position: absolute;
					left: -6px;
					right: -6px;
					top: -6px;
					bottom: -6px;
					border:2px solid $white;
					border-radius: 50%;
				}

				&.active {
					background: #fc5f45;

					&:after{
					border:2px solid #fc5f45;
					}
				}
			}
		}
		.slide-item {
			display: flex;
			flex-flow:row wrap;
			justify-content: space-between;
			align-items:center;
			margin-bottom: 20px;
			padding: 10px;
			cursor: pointer;

			.slide-photo {
				width: 30%;
				min-height: 400px;
				background: linear-gradient(to top, #d9aca5, #cbcbcb);
				position: relative;
				&:after {
					content: "";
					position: absolute;
					left: -5px;
					top: -5px;
					right: -5px;
					bottom: -5px;
					background: linear-gradient(to top, #ae8a83, #a3a3a3);
					z-index: -1;
				}
			}

			.slide-text {
				width: 70%;
				background: $white;
				padding: 30px 50px 10px;
				position: relative;
				z-index: 1111;
				border-bottom: 2px solid #fc5f45;

				&:before {
					content: '"';
					position: absolute;
					left: -30px;
					top: -40px;
					font-size: 337px;
					font-family: "libre_baskerville";
					font-style: italic;
					color: #e0e0e0;
					z-index: -1;
				}
				>p {
					margin-bottom: 20px;
					color: #616161;
				}
				.signature {
					font-family:"sacramento";
					font-size: 40px;
					display: block;
					margin-bottom: 20px;
				}
				.author {
					font-family: inherit;
					font-size: 18px;
					display: block;
					margin-bottom: 10px;
				}
				.author-post {
					display: block;
					font-size: 13px;
					color: #fc5f45;
				}
			}
		}
	}
}

.why-select-us {
	position: relative;
	text-align: center;
	padding: 0 0 100px;
	.text-hold {
		padding-top: 100px;
	}
	.our-works-wrap {
		padding: 100px 0 50px;
		display: flex;
		flex-flow:row wrap;
		justify-content: space-between;
		align-items:center;
		margin-bottom: 40px;

		.our-work {
			width: 33.33%;
			text-align: left;
			margin-bottom: 40px;
			padding: 10px;
			p {
				font-size: 15px;
				color: #616161;
			}
			.wrap-icon{
				margin-bottom: 20px;
				padding: 5px;	
				i {
					font-size: 40px;
					color: #fc5f45;
					display: inline-block;
					vertical-align: middle;
					padding: 10px;
				}
			}
			.name {
				font-family: inherit;
				font-weight: 500;
				font-size: 18px;
				color: $black;
				display: inline-block;
				vertical-align: middle;
				padding: 10px;
			}
		}
	}
	.start {
		display: inline-block;
		vertical-align: top;

		strong {
			font-family: inherit;
			font-size: 25px;
			font-weight: 400;
			display: inline-block;
			vertical-align: middle;
			padding: 10px;
		}
		a {
			text-decoration: none;
			display: inline-block;
			vertical-align: middle;
			color: $white;
			background: #fc5f45;
			padding:15px  30px;
			border-radius: 40px;
			font-size: 16px;
			font-weight: 600;
			font-family: inherit;
			text-transform: uppercase;
			@extend %transition;

			&:hover {
				background: #f70202;
			}
		}
	}
}

.our-blog {
	position: relative;
	background: #f7f7f7;
	padding: 100px 0 50px;

	.blog-wrap {
		padding-top: 100px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items:center;

			.ok {
				.hover-photo {
					max-height: 400px;
					opacity: 1;
					visibility: visible;
					position: relative;
					transition: max-height .8s;

				.article-text-wrap {
					display: block;
					}
				}
			.article-text-wrap {
				display: none;
			}
		}
			.hover-photo {
				max-height: 0;
				opacity: 0;
				visibility: hidden;
				overflow: hidden;
				
				.photo {
					width: 100%;
					height: 400px;
					background: pink;
					position: relative;
					.article-text-wrap {
						position: absolute;
						left: 5%;
						bottom: 10%;
					}
				}
			}
	
			
		.article {
			background: $white;	
			margin-bottom: 20px;
			padding: 30px;
			border-bottom: 2px solid #38c695;	
			position: relative;
			.article-text-wrap {
				margin-bottom: 20px;
			}
			
			&:hover {
				cursor: pointer;
			}

			.article-author {
				font-family: inherit;
				font-size: 15px;
				font-weight: 500;
				color: #38c695;
				text-transform: uppercase;
			}

			.article-date {
				font-size: 13px;
				font-family: inherit;
			}

			.article-name {
				display: block;
				margin-bottom: 20px;
			}	
			
			.article-text {
				max-width: 500px;
				line-height: 1.2;
			}

			a {
				text-decoration: none;
				color: #38c695;
			}
		
		}
	}
}

.subscribe {
	padding: 50px 0 ;
	text-align: center;
	 .text {
	 	font-family: inherit;
	 	font-size: 30px;
	 	margin-bottom: 40px;
	 	.newsletter-heading {
	 		display: inline-block;
	 		vertical-align: top;
	 		margin-bottom: 20px;
	 		}
		}

	 form {
	 	margin-bottom: 40px;
	 	.mail {
	 		padding: 14px 40px;	
	 		border-radius: 40px 0 0 40px;
	 		background: #f7f7f7;
	 		border: 2px solid #efefef;
	 		font-size: 16px;
	 		display: inline-block;	
	 		vertical-align: middle;


	 	}
	 	.btn-subscribe {
	 		display: inline-block;	
	 		vertical-align: middle;	
	 		padding: 16px 40px;	
	 		text-transform: uppercase;
	 		border-radius: 0 40px 40px 0;
	 		background: #fc5f45;
	 		font-family: inherit;
	 		font-size: 16px;
	 		font-weight: 600;
	 		border: none;
	 		color: $white;
	 		border: 1px solid #fc5f45;
	 		margin-left: -5px;
	 		@extend %transition;

	 		&:hover {
				background: #f70202;
	 		}
	 	}
	}
}

.feedback {
	position: relative;
	padding: 100px 0 50px;
	background: #cccccc;

	.form {
		padding-top: 50px;
		max-width: 750px;
		margin: 0 auto;
		text-align: center;
		
		.input-wrap {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
			
			.inp-name, .inp-mail, .inp-subject, .inp-budget {
				font-family: "poppins";
				font-weight: 400;
				font-size: 16px;
				line-height: 1.2;	
				text-align: center;
				padding: 15px 70px;
				margin-bottom: 20px;
				border: 1px solid #efefef;
				border-radius: 5px;
			}
		}
		textarea {
			font-family: "poppins";
			font-weight: 400;
			font-size: 16px;
			text-align: center;
			width: 100%;
			resize: none;	
			padding: 20px;
			margin-bottom: 20px;
			border: 1px solid #efefef;
			border-radius: 5px;
		}
		.send-message {
			display: inline-block;
			vertical-align: top;
			background: #fc5f45;
			padding: 20px 40px;
			border-radius: 40px;
			font-family: inherit;
			font-size: 16px;
			text-transform: uppercase;
			font-weight: 600;
			color: $white;
			border: none;
			@extend %transition;

			&:hover {
				
				background: #f70202;
			}
		}
	}	
}

.footer {
	background: #cccccc;
	padding-bottom: 50px;
	.footer-info {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items:center;
	background: #3f4049;
	padding: 50px 0 50px;
	position: relative;

	>div {
		width: 25%;
		padding: 20px;
	}
			
		&:before {
			content: "";
			position: absolute;
			top: 100%;
			left: 0;
			height: 3px;
			border-left: 285px solid #fc5f45; 
			border-right: 285px solid #38c695;
		}

		&:after{
			content: "";
			position: absolute;
			top: 100%;
			right: 0;
			height: 3px;
			border-left: 285px solid #b27cf5;
			border-right: 285px solid #feb960;
		}

		.footer-adress {
			text-align: left;
			strong {
				color: #38c695;
			}
		}

		.footer-adress-add {
			text-align: left;
			strong {
				color: #b27cf5;
			}
		}

		.logo-name {
			text-align: left;
			color: #fef4f2;
		}
		strong {
			font-size: 18px;
			font-family: inherit;
			font-weight: 500;
			display: block;
			margin-bottom: 20px; 
		}
		address {
			font-size: 16px;
			font-family: inherit;
			font-weight: 400;
			display: inline-block;
			vertical-align: top;
			color: $white;
			max-width: 200px;
			font-style: normal;
		}
		.footer-social-media {

			strong {
				color: #feb960;
			}
			ul {
				font-size: 0;
				line-height: 0;
				@extend %listreset;

				li {
					font-size: 30px;
					line-height: 1.2;
					display: inline-block;
					vertical-align: top;
					margin: 0 5px;

					a {
						color: $white;
						text-decoration: none;
						@extend %transition;

						&:hover {
							color: #fc5f45;
						}
					}
				}
			}
		}
	}
}
