@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
body {
	margin: 0;
	padding: 0;
	font-size: 13px;
	color: #6d5384;
	min-width: 320px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	/*font-family: 'Montserrat', sans-serif;*/

}

* {
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6, p {
	margin: 0 0 20px;
}
a {
	text-decoration: none;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}
.listreset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.uppercase {
	text-transform: uppercase;
}
#wrapper {
	width: 100%;
	position: relative;
	overflow: hidden;
	
}
.header {
	width: 100%;
	background-color: #fff;
}

.header-wrap{
	padding: 25px 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
    align-items:center;
    flex-direction: row;
}
.logo {
	cursor: pointer;
}
.logo img{
	max-width: 100%;
}
.navigation a {
	color: inherit;
}

.navigation > ul {
	line-height: 0;
	font-size: 0;
	padding: 0;
	margin: 0;
	list-style: none;
	margin: 0 -10px;
}

.navigation > ul > li {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 1.2;
	display: inline-block;
	vertical-align: top;
	color: #272727;
	position: relative;

} 
.navigation > ul > li > a {
	display: block;
	padding: 0px 10px;
	text-decoration: none;
	font-weight: 500;
	color: inherit;
}

.navigation > ul > li:hover, .navigation > ul > li.active li{
	color: #fc5f45;
}
.navigation > ul > li:hover .dropdown {
  visibility: visible;
  opacity: 1;
}

.dropdown {
  width: 200px;
  transition: all .3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 10px;
 }
.dropdown > ul > li:hover .dropdown-second {
  opacity: 1;
  visibility: visible;
}
.dropdown > ul > li {
	background: #c0c0c0;
}
.dropdown li {
	padding: 10px 20px;
}
.dropdown > ul > li:hover {
	background-color: #dfdfdf;
}
.dropdown-second{
  width: 200px;
  transition: all .3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 100%;
  padding-top: 10px;
}

.dropdown-second > ul > li {
	background: #c0c0c0;
}
.dropdown-second > ul > li:hover {
	background-color: #dfdfdf;
}


.visual{
	width: 100%;
	min-height: 850px;
	background-color: #3f4049;
	padding: 170px 0;
}
h1 {
	font-family: 'Libre Baskerville', serif;
	font-size: 60px;
	font-weight: 400;
	line-height: 1.2;
	max-width: 830px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	margin-bottom: 60px;
}

.visual-button {
	padding: 50px 0;
	text-align: center;
}

.visual-button a {
	display: inline-block;
	vertical-align: top;
	padding: 20px 45px;
	background-color: #fc5f45;
	border-radius: 35px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 1;
	color: #fff;
}

.visual-button a:hover {
	background-color: #b32912;
	color: #fc5f45 ;
	
}
.visual-blocks{
	padding: 35px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}

.visual-blocks-item{
	padding: 0 25px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 1;

}

.visual-blocks-item img{
	max-width: 100%;

}
.visual-blocks-item p{
	padding-top: 40px;

}

.visual-blocks-item1{
	color: #38c695;
}
.visual-blocks-item2{
	color: #b27cf5;
}
.visual-blocks-item3{
	color: #feb960;
}











@media only screen and (max-width: 1023px) {
	.logo img{
	max-width: 85%;
}
	.navigation > ul > li {
	font-size: 13px;
	} 
	.navigation > ul > li >a {
		padding: 0 5px;
	} 
}
@media only screen and (max-width: 767px) {
	.nav-btn {
        width: 30px;
        height: 30px;
        display: block;
        position: relative;
        z-index: 4;
        cursor: pointer;
    }

    .nav-btn::after, .nav-btn::before {
        content: '';
    }

    .nav-btn::after, .nav-btn::before, .nav-btn span {
        position: absolute;
        height: 4px;
        width: 26px;
        left: 50%;
        transform: translateX(-50%);
        background: #3f4049;
        top: 18px;
        transition: all .3s ease-in-out;
    }

    .nav-btn::after {
        top: 12px;
    }

    .nav-btn::before {
        top: 6px;
    }

    .menu-active .nav-btn::after {
        opacity: 0;
    }

    .menu-active .nav-btn::before {
        top: 12px;
        left: 2px;
        transform: rotate(45deg);
    }

    .menu-active .nav-btn span {
        top: 12px;
        left: 2px;
        transform: rotate(-45deg);
    }

    nav {
        padding-top: 100px;
        text-align: center;
        opacity: 1;
        position: absolute;
        visibility: visible;
        top: 0;
        height: 100vh;
        left: 110%;
        width: 200px;
        background: rgba(63,64,73,.7);

    }

    .navigation > ul > li {
        display: block;
        border: none;
	    font-size: 30px;
	    color: #fff;
	    padding: 10px 0;
	    }

    .navigation  > ul > li >a {
        border: none;
        border-radius: 0;
    }

    .navigation  > ul > li > a:after {
        display: none;
    }

  .navigation > ul > li:hover, .navigation > ul > li.active li{
	background-color: #c0c0c0;
	}

    .menu-active nav {
        display: block;
        left: 0;
    	width: 100%;
    	transition: all .7s ease-in;
    }

    .menu-active {
        height: 100vh;
      }

	.navigation > ul > li:hover .dropdown {
		  position: relative;
		  width: 100%;
		  text-align: center;
		  top: 0;
		  left: 0;
	}
	.dropdown > ul > li:hover .dropdown-second {
	 		position: relative;
		  	width: 100%;
		  	text-align: center;
		  	top: 0;
 			left: 0;
	}
	.dropdown-second > ul > li {
	background: #fff;
	color: #272727;
}
}