$h1-basic-fsz: 66px;
$h2-basic-fsz: 60px;
$h3-basic-fsz: 22px;



$white:#fff;
$black:#000;




$base-font-family:'brandon', sans-serif;

$base-font-size-text: 18px;

$base-color-h2: #222;


$basic-color-p: #777;