$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1366px
);

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

@import './common-settings/include-media';
@import './common-settings/normalize';
@import 'common-settings/icons';

@import 'basic-settings/variables';
@import 'basic-settings/reset';
@import 'basic-settings/heading-styles';

.hold {
		max-width: 915px;
		margin: 0 auto;
		padding: 0 15px;
}

.big-hold {
	max-width: 970px;
	margin: 0 auto;
	padding: 0 15px;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~HEADER~~~~~~~~~~~~~~~~~~~~~~~~~~~

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 42px;
	
	@include media('<tablet'){
		& {
			padding-top: 20px;
			
		}
	}
	

	.header-wrap{
		max-width: 970px;
		padding: 0 15px;
		margin: 0 auto;
		display: flex;
    	flex-wrap: wrap;
    	justify-content: space-between;
    	align-items:center;
		
		.logo{
			display: inline-block;
			vertical-align: top;
			
			& a {
				display: block;
			}
			
			@include media('<tablet'){
				z-index: 99;}
		}
    }
}

.nav-opener {
	display: none;
	position: absolute;
    top: 35%;
    right: 5%;
	width: 30px;
	height: 30px;
 	border: 1px solid #fff;
	border-radius: 3px;
	z-index: 99;
	
	@include media('<tablet'){
		& {
			display: block;
			
			.nav-btn {
			display: block;
			position: relative;
			z-index: 4;

			 & span {
				position: absolute;
				left: 50%;
				border-radius: 3px;
				transform: translateX(-50%);
				 color: #fff;
				 font-size: 24px;
				top: 0px;
				transition: all .3s ease-in-out;
			}


			.active-nav & span {
				transform: rotate(90deg);
				left: 0;
				top:-1px;
			}
			}
		}
	}
}

.navigation {
	margin: 0 -15px;
	@include media('<tablet'){
		nav{
			padding-top: 75px;
			text-align: center;
			opacity: 1;
			position: absolute;
			visibility: visible;
			top: 0;
			height: 100vh;
			left: 100%;
			width: 100%;
			background: rgba(49, 52, 84, 0.8);
			transform: scale(.1);
			border-radius: 50%;
			
			.active-nav & {
				left: 0;
				transform: scale(1);
				border-radius: 0;
				transition: all .5s ease-in-out;
    }
			li {
				line-height: 2;
				display: block;
				float: none;
			}
		}
	}
	
			li {
				display: inline-block;
				vertical-align: top;
				padding: 0 16px;
				line-height: $base-line-height;

				 a { 
					display: block;
					color: $extra-color;
					font-size: $base-font-size;
					font-size: 16px;
					text-decoration: none;
					font-weight: 400;
					transition:all 0.3s ease-in-out;
				
				&:hover {
					color: #fff;
					transform: scale(1.1);
					text-shadow: 4px 4px 2px rgba(160, 160, 160, 1);
				} 
			}
				&.active a, &.active a:hover{
					color: #fff;
					text-shadow: 4px 4px 2px rgba(160, 160, 160, 1);
					transform: scale(1.1);
		}
	}
}

.visual {
	background: url(../img/visual-img.jpg);
	background-size: cover;
	background-repeat: repeat;
}
.visual-wrap {
	max-width: 970px;
	margin: 0 auto;
	text-align: center;
	padding: 218px 10px 95px;
	
	@include media('<tablet'){
		& {
			padding: 75px 10px 20px;
			font-size: 18px;
			
		}
	}
	
	 p {
		font-weight: 300;
		font-size: 28px;
		color: $extra-color;
	}
	
	h1 {
		color: $extra-color;
		font-weight: 700;
		padding: 30px 0;
		text-transform: uppercase;
		word-spacing: -7px;
		@include media('<tablet'){ 
			& {
				font-size: 30px;
				word-spacing: normal;
			}
		}
	}
}

.visual-btn {
	padding: 38px 0;
	
	@include media('<tablet'){
		& {
			padding: 20px 0;
			font-size: 18px;}
	}
	
		.btn-wrap{
			display: inline-block;
			vertical-align: top;
			
			
			& a {
				display: block;
				border:3px solid $extra-color;
				border-radius: 3px;
				padding: 17px 63px;
				font-size: 21px;
				font-weight: 700;
				text-decoration: none;
				color:$extra-color;
				transition:all 0.3s ease-in-out; 
				
				@include media('<tablet'){
				& a {
					padding: 10px 35px;
					font-size: 16px;
				}
			}

				
				&:hover {
					transform: scale(1.2);
					background: rgba(81, 67, 106, 0.51);
				}
			}
	}
}

main {
	padding-top: 50px;
	
	@include media('<tablet'){
		& {
			padding-top: 10px;
		}
			}

	
	.strip-wrap {
		padding: 20px 0 100px;
		
		@include media('<tablet') {
			&{
				padding:10px 0 20px; 
		}
	}
		
		&:nth-child(even) {
		background: #fafafa;
			
			@include media('<tablet') {
				&{
				.hold {
					
				.content-wrap{
					padding-top: 10px !important;
				.content-img {
					padding: 0 15px 0 0 !important;
					}
				}
			}
		}
	}

			.hold {
				.content-wrap{
					flex-direction: row;
					margin: 0;
					padding-top: 80px;
				.content-txt {
					width: 70%;
					padding: 0 15px;
				}
				.content-img {
					padding: 0 40px 0 0;
					}
			}
		}
	}
		
	.hold {
			max-width: 915px;
			margin: 0 auto;
			padding: 0 15px;
			
	.content-wrap {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row-reverse;
		align-items: baseline;
		padding-top: 10px;
		margin: 0 -10px;
			}
		}
	}
}

.content {
	padding: 20px 0;
	
	@include media('<tablet'){
		& {
			padding: 10px 0;}
	}
}
	
.content-img {
	width: 30%;
	padding-left:40px;
	
	@include media('<tablet'){
		& {
			padding-left: 15px;}
	}
}
	
.content-txt {
	width: 70%;
	padding: 0 10px;
		
	p {
		color: $p-color;
		font-weight: 300;
		padding: 11px 0;
		font-size: $base-font-size;
		line-height: 1.5;
		
		+p {
			padding-top: 23px;
		}
		}
		
	h2 {
		font-weight: 300;
		padding-bottom: 24px;
		}
	

	@include media('<tablet'){
		& {
		p {
			padding: 7px 0;
			line-height: 1.2;
			+p {
			padding-top: 7px;
		}
			}
			h2 {
			padding-bottom: 10px;
				font-size: 22px;
		
			}
		}
	}
}

.skills {
	padding: 50px 0;
	
	@include media('<tablet'){
		& {
			padding: 10px 0;	
	}
}
	
	.skills-wrap {
		margin: 0 -50px;
		padding: 50px 0;
		
		@include media('<tablet'){
		& {
			padding: 10px 0;
			margin: 0;
			text-align: center;}
		}
		li {
			display: inline-block;
			vertical-align: top;
			line-height: 1.2;						font-size: 14px;
			padding: 0 40px;
			width: 50%;
			margin-bottom: 50px;
			
			@include media('<tablet'){
				
			& {
			padding: 0 10px;
			width: 100%;
			margin-bottom: 20px;
				
				.skill-icon {
					padding: 10px 8px ;
				}
				
				.skill-txt {
				max-width: 100%;
				padding: 10px 8px !important;
				
				h4 {
					margin-bottom: 7px;
					}
				}
		}
}
			.skill-icon {
				display: inline-block;
				vertical-align: top;
				padding: 0 8px
				}
			
			.skill-txt {
				display: inline-block;
				vertical-align: top;
				max-width: 320px;
				padding: 0 8px;
				
				h4 {
					margin-bottom: 7px;
				}
				}
			}
		}
	}


.awesome-clients {
	background: #fafafa;
	padding: 50px 0;
	
	@include media('<tablet'){
		& {
			padding: 10px 0;
		}
	}
	.awesome-wrap {
		padding: 40px 10px;
		
		@include media('<tablet'){
		& {
			padding: 10px 0;}
		}
		.awesome-heading {
			text-align: center;
			padding: 10px 0 25px;
			
			h2 {
				font-weight: 300;
			}
		
			p {
				color: $p-color;
			}
			
			@include media('<tablet'){
			& { padding: 10px 0 10px;
				
				h2{
					font-size: 24px;
				}
				}}
		}
	}
}

.clients-wrap {
	display: flex;
	flex-wrap: wrap;
	align-items:center;
	justify-content: space-between;
	padding: 25px 0;
	
	@include media('<tablet'){
		& { padding: 10px 0;
			display: block;
			text-align: center;}}
	
	&:nth-child(even){
		flex-direction: row-reverse;
		.clients-feedback::after {
			border: 1px solid #ededed;
    		border-left: none;
			border-bottom: none;
			content: "";
			position: absolute;
			width: 26px;
			height: 24px;
			background: #fff;
			top: 50%;
			left: 100%;
			transform: translate(-48%, -60%) rotate(34deg) skewX(-21deg);
			
			@include media('<tablet'){
				& {
					top: 0;
					left: 50%;
					border-left: 1px solid #ededed;
					border-right: none;
					}
				}
			}
	}
}
	
	.clients-photo{
		min-width: 220px;
		min-height: 220px;
		background: $h-color;
		border-radius: 50%;
		border: 3px solid #fff;
		
		@include media('<tablet'){
			& {
			width: 100px;
			height: 100px;
			margin: 0 auto 15px;
			}
		} 
}
	
	.clients-feedback {
		position: relative;
		background: #fff;
		border: 1px solid #ededed;
		max-width: 635px;
		padding: 35px 70px;
		
		@include media('<tablet'){
			& {
			max-width: 100%;
			padding: 20px;
			}
		}
		
		&::after {
			border: 1px solid #ededed;
    		border-right: none;
			border-top: none;
			content: "";
			position: absolute;
			width: 26px;
			height: 24px;
			background: #fff;
			top: 50%;
			right: 100%;
			transform: translate(48%, -60%) rotate(34deg) skewX(-21deg);
			
			@include media('<tablet'){
			& {
				top: 0;
				right: 50%;
				border-top: 1px solid #ededed;
				border-bottom: none;
				transform: translate(48%, -50%) rotate(34deg) skewX(-21deg);
				}
			}
			}
		
		blockquote {
			color: $p-color;
			font-size: 26px;
			margin: 0;
			
			@include media('<tablet'){
			& {
				font-size: 18px;
		}
	}
}
		
		cite {
			font-size: 20px;
			color: #7690c5;
			
			@include media('<tablet'){
			& {
				font-size: 16px;
			}
		}
	}
}

.source {
	padding: 40px 0;
	
	@include media('<tablet'){
		& { 
			padding: 20px 0;}}
	
	.source-wrap{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin: 0 -10px;
		padding: 20px 0;
		text-align: center;
		
		.source-logo {
			display: block;
			position: relative;
			padding: 5px;
			
			&:hover::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				border: 1px solid #ededed;
				top: 0;
				left: 0;
				
			}
		}
		@include media('<tablet'){
		& { display: block;
			margin: 0;
			padding: 10px;
			
			& .source-logo {
				margin-bottom: 10px;
			}
			
			}}
	}
}
.team {
	padding: 50px 0 100px;
	background: $h-color;
	
	.heading-txt {
		text-align: center;
		padding: 30px 0;
		
		h2 {
			color: $extra-color;
			font-weight: 300;
		}
		
		p {
			color: $p-color;
			font-size: 22px;
		}
	}
	
	@include media('<tablet'){
		& { padding: 10px 0;
			
			& .heading-txt {
				padding: 10px 0;
				font-size: 18px;
				
				h2 {
					font-size: 24px;
				}
			}
	
		}
	}
}

.team-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0 -15px;
	
	.clients-photo{
		min-width: 220px;
		min-height: 240px;
		background: $h-color;
		border-radius: 50%;
		border: 3px solid #fff;
		margin-bottom: 5px;
	}
	
	.worker {
		width: 33.33%;
		text-align: center;
		padding: 0 15px;
		
		.inform{
			padding: 10px 0;
			
			h5 {
				color: $extra-color;
		
			}
		
			p {
				color: $extra-color;
				padding: 10px 0 5px 0;
			}
			
			.links {
				padding: 10px 0;
				
				li {
					display: inline-block;
					vertical-align: top;
					line-height: 1.5;
					font-size: 14px;
					padding:5px 10px;

					a {
						display: block;
						border: 4px solid #fff;
						color: $extra-color;
						text-decoration: none;
						font-size: 17px;
						border-radius: 50%;
						width: 40px;
						height: 40px;
						transition: all .3s ease-in-out;
						
						i {
							font-size: 14px;
							vertical-align: middle;
						}
						
						&.twitter:hover {
							background: #00aced;
							border-color:#00aced;
							
						}
						
						&.facebook:hover {
							background:#3b5998;
							border-color: #3b5998;
						}
						
						&.plus:hover, &.pin:hover {
							background: #d95232;
							border-color:#d95232;
						}
					}
				}
			}
		}
	}
	@include media('<tablet'){
		& { padding: 10px 0;
			display: block;
			
		& .worker {
				
			width: 100%;
			
		& .clients-photo {
				width: 100px;
				height: 100px;
				margin: 0 auto;
			}
			}
			& .end-txt {
				padding: 10px 0;
			}
		}
	}
}
.end-txt {
	text-align: center;
	padding: 20px 0;
	color: $extra-color;
	font-size: 20px;
}
footer {
	padding: 100px 0 30px;
	background: #7690c5;
	
	.pre-wrap {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 30px;
		
		.contacts {
			width: 50%;
			
			.cont-txt{
				
				padding: 10px 0;
			
				h2 {
					color: $extra-color;
					font-weight: 300;
					margin-bottom: 20px;
				}

				p {
					color: $extra-color;
				}
			}
			
			.contact-basket {
				padding: 30px 0 15px;
				margin: 0 -10px;
				
				
				
				li {
					display: inline-block;
					vertical-align: top;
					line-height: 1.2;
					font-size: 14px;
					padding: 0 10px;
					width: 50%;
					margin-bottom: 40px;
				}
				a {
					font-size: 18px;
					text-decoration: none;
					color: $extra-color;
					margin: 0 -10px;
					transition: all .3s ease-in-out;
					
					i {
						font-size: 30px;
					}
					
					i, .contuct-us {
						padding: 0 10px;
						vertical-align: middle;
					}
					
					&:hover {
						color: #4c2f65;
					}
				}
				
				@include media('<tablet'){
				& { 
					padding: 0;
					 
					li {
						margin-bottom: 20px;
						width: 100%;
					}
					
					}}
			}
		}
		}
		@include media('<tablet'){
		& { 
			padding: 10px 0;
			
			.pre-wrap {
				display: block;
				margin-bottom: 10px;
				
				 .contacts {
					width: 100%;
					 
					 h2 {
						 font-size: 24px;
						 margin-bottom: 5px !important;
					 }
				}
			}	
		}
	}
	}
		
.comments {
	width: 50%;
	text-align: right;
	padding: 25px 0;
		
	.write {
		border: none;
		border-radius: 3px;
		margin-bottom: 28px;
		width: 400px;
		height: 40px;
		padding: 10px 15px;
			}
			textarea {
				border: none;
				border-radius: 3px;
				width: 400px;
				padding: 10px 15px;
				margin-bottom: 15px;
				font-size: 18px;
				color: #bbb;
			}
			
			.submit {
				background: $extra-color;
				border: none;
				border-radius: 3px;
				vertical-align: middle;
				padding: 5px;
				
				
				.sbt-txt {
					color: #7690c5;
					font-size: 18px;
					padding: 0 10px;
					vertical-align: middle;
				}
			}
	@include media('<tablet'){
		& { 
			padding: 10px 0;
			width: 100%;
			text-align: left;
			
			.write {
				width: 300px;
				height: 20px;
				padding: 5px;
				margin-bottom: 10px;
			}
			textarea {
				width: 300px;
				padding: 10px;
				margin-bottom: 10px;
				font-size: 18px;
				color: #bbb;
			}
			
			.submit {
				display: block;
			}
		}
	}
}
	
	

.made-in {
	padding: 20px 0;
	border-top: 1px solid #989898;
	text-align: center;
	p{
	color: $extra-color;
	}
	
}