
@media only screen and (max-width: 1023px) {
	.visual{
		padding-top: 0px;
	}
	.visual-wrap{
		padding: 120px 0;
		max-width: 670px;
		font-size: 18px
	}
	h1 {
	    font-size: 50px;
	}
	.visual-wrap  a {
	padding: 15px 40px;
	border-radius: 5px;
	transition: all .3s ease-in-out;
	}
	.visual-wrap  a:hover {
		padding: 18px 43px;
	}
	.main-one-block{
		width: 50%;
	}
	.work-block{
	width: 50%;
	}
	.team-box{
	width: 50%;
	}
	.clients-slider-item h3{
	font-size: 26px;
	line-height: 1;
	color:inherit;
	padding: 10px;
	height: auto;
	margin: 0;
}
	.clients-slider-item p{
		font-size: 12px;
		padding: 5px 10px;
		margin: 0;
	}
	.slick-dots li button:before {
	    font-size: 8px;
	    line-height: 16px;
	    color: #fff;
	}
	.contacts-wrap > div {
		width: 50%;
		padding-bottom: 100px
	}
	.location {
    padding:0px 170px 0px 170px;
	}

}
@media only screen and (max-width: 767px) {
	.nav-btn {
        width: 30px;
        height: 30px;
        display: block;
        position: relative;
        z-index: 4;
    }

    .nav-btn::after, .nav-btn::before {
        content: '';
    }

    .nav-btn::after, .nav-btn::before, .nav-btn span {
        position: absolute;
        height: 4px;
        width: 26px;
        left: 50%;
        transform: translateX(-50%);
        background: #fff;
        top: 18px;
        transition: all .3s ease-in-out;
    }

    .nav-btn::after {
        top: 12px;
    }

    .nav-btn::before {
        top: 6px;
    }

    .menu-active .nav-btn::after {
        opacity: 0;
    }

    .menu-active .nav-btn::before {
        top: 12px;
        left: 2px;
        transform: rotate(45deg);
    }

    .menu-active .nav-btn span {
        top: 12px;
        left: 2px;
        transform: rotate(-45deg);
    }

    nav {
        padding-top: 100px;
        text-align: center;
        opacity: 1;
        position: absolute;
        visibility: visible;
        top: 0;
        height: 100vh;
        left: 110%;
        width: 200px;
        background: rgba(48,51,78,.9);

    }

    .navigation li {
        display: block;
        border: none;
	    font-size: 30px;
	    }

    .navigation li a {
        border: none;
        border-radius: 0;
        color: #fff;
        padding: 20px 0px 20px 0px;
        background-color: #b7b8c1;
        border-top: 1px solid #30324d;
    }

    .menu-active nav {
        display: block;
        left: 0;
    	width: 100%;
    	transition: all .7s ease-in;
    }

    .menu-active {
        height: 100vh;
        overflow: hidden;
    }

	.visual{
		padding-top: 0px;
	}
	.visual-wrap{
		padding: 100px 0;
	}
	h1 {
	    font-size: 30px;
	}
	.visual-wrap p {
		font-size: 18px;
	}
 	.main-one-block{
		width: 100%;
	}
	.work-block{
	width: 100%;
	}
	.team-box{
	width: 100%;
	text-align: center;
	}
	.clients{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
    justify-content: center;
	}
	.clients-big-photo{
	width: 100%;
	min-height: 300px;
    background-position: 100% 0%;
	}
	.clients-text{
	width: 100%;
	}
	.clients-text-box{
	padding: 20px 0px;
	}
	.contacts-wrap > div {
		width: 100%;
	}
}