body {
	margin: 0;
	padding: 0;
	font-size: 13px;
	color: #6d5384;
	min-width: 320px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	}

* {
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6, p {
	margin: 0 0 20px;
}
a {
	text-decoration: none;
}
.listreset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
.uppercase {
	text-transform: uppercase;
}
#wrapper {
	width: 100%;
	position: relative;
	background-color: green;
	overflow: hidden;
}
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 20;
	color: #a2a3af;
}
.header-wrap {
	padding: 40px 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
    align-items:center;
    flex-direction: row;
}
.logo {
	width: 16.66%;
	cursor: pointer;
}
.logo img{
	width: 100%;
	height: auto;
}
.navigation a {
	color: inherit;
}

.navigation ul {
	line-height: 0;
	font-size: 0;
	padding: 0;
	margin: 0;
	list-style: none;
	margin: 0 -5px; 
}

.navigation li {
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	font-weight: 700;
	line-height: 1;
	display: inline-block;
	vertical-align: top;
	padding: 0 5px;
} 

.navigation li a {
	display: block;
	padding: 5px;
	text-decoration: none;
	position: relative;
	transition: all .3s ease-in-out;
}

.navigation li a:hover, .navigation li.active a{
	background: #30344e;
	/*border-color: #f7df59;*/
	box-shadow: 0px 4px 0px -1px rgba(42,45,72,1);
	transform: scale(1.1);
}

.visual {
	background: url("../img/visula-bg.jpg");
	color: #fff;
	padding-top: 100px;
	position: relative;
	z-index: 10;
}
.visual-wrap {
	padding: 155px 0;
	max-width: 950px;
	margin: 0 auto;
	text-align: center;
}
h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 65px;
	line-height: 1.2;
	margin-bottom: 30px;
}
.visual-wrap p {
	margin: 0 0 80px;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	font-weight: 400;
	line-height: 1.2;

}
.visual-wrap  a {
	display: inline-block;
	background-color: #e84545;
	text-decoration: none;
	color: inherit;
	padding: 15px 60px;
	border-radius: 5px;
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	font-weight: 600;
	line-height: 1.2;
	transition: all .3s ease-in-out;

}
.visual-wrap  a:hover {
	padding: 18px 63px;
}
.main{
	background-color: #fff;
	overflow: hidden;
}
.main-blocks{
	line-height: 0;
	font-size: 0px;
	margin: 70px -50px;
}
.main-one-block{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.2;
	width: 33.33%;
	display: inline-block;
	vertical-align: top;
	padding: 0 50px;
	margin-bottom: 30px;
}
.main-one-block img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.main-one-block strong {
	display: block;
	padding: 30px 0px 20px 0px;
	font-size: 14px;
	font-weight: 700;
	}
.main-one-block p {
	font-size: 14px;
	font-weight: 400;
	padding: 0;
	margin: 0;
}
.works{
	line-height: 0;
	font-size: 0px;
}
.work-block{
	text-decoration: none;
	line-height: 1;
	font-size: 13px;
	width: 25%;
	display: inline-block;
	vertical-align: top;
	position: relative;
	color: #fff;
	margin-right: -1px;
	padding-right: 1px;
}
.work-block-img{
	max-width: 100%;
	position: relative;
	z-index: 30;
	padding-right: 1px;
	
}
.work-block-img img{
	width: 100%;
}
.work-block-hover{
	background-color: rgba(232,69,69,.7);
	position: absolute;
	z-index: 60;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-top: 35%;
    opacity: 0;
    visibility: hidden;
    transition: all .8s ease-in-out;
	padding-right: 1px;    
}
.work-block:hover .work-block-hover{
	opacity: 1;
    visibility: visible;
}
.work-block-hover strong{
	display: block;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 10px;
}
.work-block-hover span{
	display: block;
	font-size: 14px;
	font-weight: 400;
}
.team {
	display: flex;
	flex-wrap: wrap;
	padding: 50px 0px 100px 0px;
}
.team-box{
	width: 25%;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	line-height: 1.2;
	padding: 50px 15px 0px;
}
.team-box p{
	margin: 0;
}
.team-box img{
	display: block;
	margin: 0 auto;
	max-width: 100%
}
.team-name{
	font-size: 22px;
	color: #2d3033; 
	padding: 25px 0px 0px;
	font-weight: 500;
}
.team-position{
	font-size: 13px;
	color: #e84545;
	padding: 10px 0px 25px 0px;
}
.team-description{
	font-size: 14px;
	color: #6c7279;
	padding-bottom: 30px;
}
.icon-facebook:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin:before {
  content: "\eac9";
}

.team-social-icon {
	font-size: 14px;
	line-height: 3em;
	display: inline-block;
	vertical-align: top;
}

.team-social-icon a {
	text-decoration: none;
	color: inherit;
}
.team-social-icon i {
	color: #c6cacc;
	border: 1px solid #c6cacc;
	padding: 10px;
	margin: 0 1px;
}
.clients{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}
.clients-big-photo{
	background-image: url(../img/clients-big-photo.jpg);
	width: 50%;
	background-size: cover;
	background-position: 100% 50%;
	min-height: 500px; 
}
.clients-text{
	width: 50%;
    background-color: #53354a;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.clients-text-box{
	width: 90%;
    margin: 0 auto;
}

.clients-slider{
	color: #fff;
}
.slick-arrow{
	display: none !important;
}
.clients-slider-item h3{
	font-family:'Cardo Italic', Italic;
	font-size: 36px;
	line-height: 1;
	color:inherit;
	padding: 15px;
	height: auto;
	margin: 0;
}
.clients-slider-item p{
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	font-weight: 700;
	line-height: 1;
	color:inherit;
	padding: 10px 15px;
	margin: 0;
}
.slick-dots li button:before {
    font-size: 12px;
    line-height: 20px;
    color: #fff;
}
.downloads-wrap{
	max-width: 630px;
	margin: 0 auto;
	font-family: 'Raleway', sans-serif;
	color: #2d3033;
	text-align: center;
	padding: 100px 0;
}
.downloads-wrap p{
	font-size: 28px;
	font-weight: 300;
	line-height: 1;
	color:inherit;
}
.downloads-wrap strong{
	font-size: 13px;
	font-weight: 700;
	line-height: 1;
	color:inherit;
	display: block;
	padding-bottom: 40px;
}
.downloads-wrap a{
	font-size: 13px;
	font-weight: 600;
	line-height: 1;
	color: #fff;
	display: inline-block;
	vertical-align: top;
	background-color: #e84545;
	padding: 20px 85px;
}
.downloads-wrap a:hover{
	color: #fff;
	background-color: #bc3131;
	padding: 22px 87px;

}
.contacts{
	background-color: #3a3e64;
	width: 100%;
	min-height: 250px;
}
.contacts-wrap{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding-top: 40px;
	font-family: 'Raleway', sans-serif;
	color: #fff;
	line-height: 1.5;
	text-align: center;
}
.contacts-wrap > div {
	width: 33.33%;
}
.location{
	padding: 0px 110px;
}
.location-name, .contacts-social-name, .about-activebox-name{
	font-size: 14px;
	font-weight: 700;
	padding-bottom: 22px;
	
}
.location-content, .about-activebox-content{
	font-weight: 400;
}
.about-activebox{
	padding: 0 20px;
}
.contacts-social-icon {
	font-size: 14px;
	line-height: 3em;
	display: inline-block;
	vertical-align: top;
}

.contacts-social-icon i {
	color: #fff;
	border: 2px solid #fff;
	padding: 10px;
	margin: 0 1px;
}
.contacts p{
	margin: 0;
}

.footer{
	background-color: #313454;
}
.footer-wrap{
	width: 320px;
	margin: 0 auto;
	font-size: 14px;
	line-height: 1.5;
	text-align: center;
	font-weight: 400;
	padding: 30px 0px;
}
.footer-wrap-gray{
	font-family: 'Raleway', sans-serif;
	color: #808080;
}
.footer-wrap-red{
	color: #e84545;
}
.footer-wrap-white{
	 font-family: 'Open Sans';
	color: #fff;
}