body {
	padding: 0;
	margin: 0;
	min-width: 320px;
	font-size: 14px;
	line-height: 1.5;
	font-family: "Raleway", sans-serif;
	color: #6c7279;
	font-weight: 400;
	background-color: #31354f;
	// font-family: 'Open Sans', sans-serif;
	// font-family: 'Cardo', serif;

* {
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p {
	margin: 0 0 20px;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.uppercase {
	text-transform: uppercase;
}

.extra-color {
	color: #e84545;
}

	#wrapper {
		position: relative;
		width: 100%;
		// overflow: hidden;

		header {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 9999;
		}

		.header-wrap {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		.navigation ul {
			line-height: 0;
			font-size: 0;
			padding: 0;
			margin: 0;
			list-style-type: none;
			margin: 0 -10px;

			li {
				display: inline-block;
				vertical-align: top;
				font-size: 13px;
				line-height: 1.2;
				padding: 0 10px;

				a {
					display: block;
					color: #fff;
					text-transform: uppercase;
					padding: 45px 20px;
					text-decoration: none;

				}
			}
		}

	}












}

