//color
$gray: #616161;
$black: #000;
$white: #fff;
$blue: #7690c5;
$green: #38c695;
$orange: #feb960;
$purple: #b27cf5;

// Body styles
$base-font-poppins: 'Poppins', sans-serif;
$base-text-color: $gray;
$base-background-color: $white;
$base-font-family: $base-font-poppins;
$base-font-size: 15px;
$base-line-height: 1;
$base-min-width: 320px;

// Links styles
$base-link-color: $blue;

// Buttons styles
$btn-color: $white;
$btn-background: $black;
$btn-padding: 0;
$btn-font-size: inherit;
