body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h6, h5, p, ul, ol, blockquote {
    margin: 0 0 20px;
}

#wrapper {
    width: 100%;
    position: relative;
    color: #626262;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    /* overflow: hidden; */
}

* {
    box-sizing: border-box;
}

.header {
    padding: 75px 0 30px;
}

.header,
.article-4__blockquote {
    text-align: center;
}

.content {
    max-width: 1093px;
    padding: 0 15px;
    margin: 0 auto;
}

.uppercase, 
.nav {
    text-transform: uppercase;
}

.nav {
    margin: 0;
    padding: 0;
}


.logo {
    font-size: 30px;
    font-family: 'Inconsolata', Arial, Helvetica, sans-serif, monospace;
    letter-spacing: 7px;
    margin-bottom: 50px;
}

.logo__link {
    text-decoration: none;
    color: #000;
}

.nav__item {
    padding: 0 45px;
}

.nav__item,
.footer__item {
    list-style-type: none;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
}

.footer__item {
    margin-right: 20px;
}

.nav a,
.footer__item a,
.footer__item a i {
    text-decoration: none;
    color: #626262;
}

.nav a:hover,
.footer__item a i:hover, 
.article-2__link:hover {
    color: #ea1313;
}

.banner {
    margin-bottom: 50px;
}

.banner__img {
    width: 100%;
}

.photodiary {
    margin-bottom: 25px;
}

.photodiary,
.comment {
    text-align: left;
    color: #b4ad9e;
}

.main {
    /* margin-bottom: 100px; */
}

.main-article {
    max-width: 905px;
}

.article-1__title {
    font-size: 36px;
    margin-bottom: 12px;
}

.article-2__title {
    font-size: 30px;
    margin-bottom: 34px;
}

.article-3__list {
    margin-bottom: 28px;
}

.article-3__title {
    font-size: 24px;
    margin-bottom: 30px;
}

.article-4__title {
    font-size: 18px;
    margin-bottom: 32px;
}

.article-2__list,
.article-3__list {
    padding-left: 13px;
}

.article-3__list-item,
.article-2__list-item {
    padding-left: 5px;
    line-height: 24px;
}

.footer {
    background-color: #f0f0f0;
    height: 100px;
}

.footer-links {
    float: right;
    padding-top: 30px;
}

.footer__item a i {
    font-size: 20px;
}

.form-row {
    margin-bottom: 20px;
}

.main-form {
    background-color: #c4c4a2;
    padding: 10px;
    border-radius: 5px;
    max-width: 260px;
}

.form-row input {
    border-radius: 5px;
    display: block;
}

.main-form button {
    border-radius: 5px;
    height: 30px;;
}

.form-wrapper {
    margin-bottom: 30px;
}

.video {
    max-width: 800px;
    margin-bottom: 30px;
}

.video iframe,
.map iframe {
    display: block;
    width: 100%;
    min-height: 500px;
}
