@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?uvwhr3');
  src:  url('../fonts/icomoon.eot?uvwhr3#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?uvwhr3') format('truetype'),
    url('../fonts/icomoon.woff?uvwhr3') format('woff'),
    url('../fonts/icomoon.svg?uvwhr3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin:before {
  content: "\eac9";
}

@import url('https://fonts.googleapis.com/css?family=Cardo:400,400i,700|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');


i {
	color: #c6cacc;
	border: 1px solid #c6cacc;
	padding: 10px;
	margin: 0 1px;
}

i:hover {
	color: #707177;
	border: 1px solid #707177;
}

body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #000;
	min-width: 320px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.wrap1 {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6, p {
	margin: 0 0 20px;
}

.nav_btn {
	width: 30px;
	height: 30px;
	background: #000;
	display: none;
}

.uppercase {
	text-transform: uppercase;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.listreset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

#wrapper {
	width: 100%;
	position: relative;
}

.header {
	background: url("../img/header-img.jpg") repeat;
	-webkit-background-size: cover;
	background-size: cover;
	max-height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}

.header-wrap {
	color: #fff;
	padding: 45px 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	border-bottom: 	1px solid #505369;
}

.logo {
	text-align: center;
	display: inline-block;
	vertical-align: top;
}

.logo a {
	display: inline-block;
	vertical-align: middle;
}

.navigation a {
	color: #a1a2ae;
	text-align: center;
}

.navigation ul {
	line-height: 0;
	font-size: 0;
	padding: 0;
	margin: 0;
	list-style: none;
	margin: 0 -30px; 
}

.navigation li {
	font-size: 13px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	line-height: 2em;
	display: inline-block;
	vertical-align: middle;
	padding: 0 30px;
} 

.navigation li a {
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
}

.navigation li a:hover, .navigation li.active a{	
	font-weight: bold;
	transform: scale(1.3);
	color: #e84545; 
}

.visual-bg {
	background: url("../img/header-img.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 100vh;
	color: inherit;
	padding: 100px 0 70px;
	position: relative;
	text-align: center;
}

.visual-bg-text {
	margin: 0 auto 80px;
	max-width: 900px;
}

.visual-bg-text h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	padding-top: 100px;
	font-size: 64px;
	line-height: 1.2;
	margin-bottom: 25px;
	word-spacing: 8px;
	color: #fff;
}

.visual-bg-text h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #fff;
	font-size: 22px;
	line-height: 1.2;
	word-spacing: 4px;
}

.visual-bg-bnt {
	text-align: center;
}

.visual-bg-bnt a {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	max-height: 45px;
	max-width: 200px;
	font-size: 13px;
	color: #fff;
	line-height: 1.2;
	text-decoration: none;
	padding: 10px 25px;
	margin: 0 auto;
	background: #e84545;
	border: 1px solid #e84545;
	border-radius: 5px;
	transition: all .3s ease-in-out;
	position: relative;
}

.visual-bg-bnt a:after {
	content: '';
	position: absolute;
	top: -5px;
	left: -5px;
	right: -5px;
	bottom: -5px;
	border-radius: 5px;
	border: 2px ridge #e84545;
	opacity: 0;
	visibility: hidden;
	transition: all .3s ease-in-out;
}

.visual-bg-bnt a:hover, .visual-bg-bnt a.active {
	font-weight: bold;
}

.visual-bg-bnt a:hover:after, .visual-bg-bnt a.active:after {
	opacity: 1;
	visibility: visible;
}

.boxes-hold {
	font-size: 0;
	line-height: 0;
	margin: 0 -35px 125;
	padding: 120px 0 120px;
}

.box {
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
	width: 33.33%;
	display: inline-block;
	vertical-align: top;
	padding: 0 35px 75px;
}

.box a {
	padding: 20px;
	display: block;
	background: #fff;
	border-radius: 5px;
	text-decoration: none;
	color: #2d3033;
}

.box img {
	max-width: 100%;
	height: auto;
	display: inline-block;
	vertical-align: top;
}

.img-hold {
	margin: 0 0 35px;
}

.box h4 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	margin-bottom: 30px;
	text-transform: uppercase;
	color: #2d3033;
}

.box p {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	line-height: 1.5;
	color: #6c7279;
}

.galery-holder {
	font-size: 0;
	line-height: 0;
	min-height: auto;
	margin: 0 auto;
	max-width: 100vw;
}

.galery {
	text-align: center;
	width: 25%;
	min-height: auto;
	display: inline-block;
	vertical-align: top;
	padding: 1px;
	position: relative;
}

.galery img {
	max-width: 100%;
	min-height: auto;
}

.galery:hover .hover-text {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}

.hover-text {
	transition: all .3s ease-in-out;
	transform: scale(0);
	background: rgba(232, 69, 69, 0.9);
	color: #fff;
	font-size: 14px;
	line-height: 1.5em;
	cursor: pointer;
	position: absolute;
	top: 1px;
	left: 1px;
	bottom: 1px;
	right: 1px;
	padding: 15px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
}

.hover-text strong{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

.hover-text {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

.team-holder {
	font-size: 0;
	line-height: 0;
	margin: 100px -15px;
}

.team {
	padding: 0 15px;
	margin: 0;
	font-size: 14px;
	line-height: 1em;
	width: 25%;
	display: inline-block;
	vertical-align: top;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

.team a {
	text-decoration: none;
}

.team img {
	max-width: 100%;
	height: auto;
	display: inline-block;
	vertical-align: top;
}

.face-hold {
	margin: 0 0 30px;
}

.name-face strong {
	margin-bottom: 10px;
	color: #2d3033;
	line-height: 1.5;
	font-size: 22px;

}

.role-face p {
	margin-bottom: 30px;
	color: #e84545;
	line-height: 1.5;
	font-size: 13px;
}

.artile p {
	margin-bottom: 30px;
	color: #6c7279;
	line-height: 1.5;
	font-size: 13px;
}

.icon {
	font-size: 14px;
	line-height: 3em;
	display: inline-block;
	vertical-align: top;
}

.icon a {
	text-decoration: none;
	color: inherit;
}

.interview-holder {
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 100px;
}

.interview {
	width: 50%;
	background-size: cover;
	background-position: 100% 50%;
	min-height: 300px;
}

.interview + .interview {
	background: #53354a;
}

img {
	display: inline-block;
	vertical-align: top;
	max-width: 100%;
	height: auto;
}


.message-holder {
padding-top: 110px;
padding-left: 85px;
} 

.message-holder strong {
	font-size: 30px;
	line-height: 1.2;
	font-family: 'Cardo', serif;
	font-weight: 400;
	font-style: italic;
}

.message-holder p {
	padding-top: 45px;
	font-size:  13px;	
	margin-bottom: 55px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

.flex-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.flex-item {
  margin: 0 4px;
  padding: 0px;
  width: 12px;
  height: 12px;
  text-align: center;
  background: #755d6e;
  border-radius: 50%;
}

.flex-item:hover {
  margin: 0 4px;
  padding: 0px;
  background: #fff;
  border-radius: 50%
 }

.download-holder {
	text-align: center;
	color: #2d3033;
}

.download-holder span {
	font-size: 28px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

.download-holder p {
	padding-top: 20px;
	font-size: 13px;
	margin-bottom: 5em;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	letter-spacing: 0px;
}

.bnt-down {
	text-align: center;
	cursor: pointer;
	color: #fff;
	font-size: 13px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	line-height: 1.5;
	margin: 0 0 100px;
	display: inline-block;
	vertical-align: top;
}

.bnt-down a {
	padding: 20px 75px;
	text-decoration: none;
	color: inherit;
	transition: all .3s ease-in-out;
	background: #e84545;
	border: 1px	solid #e84545;
}

.bnt-down a:hover, .bnt-down a:active {
	padding: 20px 75px;
	border: 8px outset #e84545;
} 

.contact-holder {
	font-size: 0;
	line-height: 0;
	background: #3a3e64;
	margin: 0 auto;

}

.contact {
	padding: 70px;
	text-align: center;
	width: 33.33%;
	display: inline-block;
	vertical-align: top;
	line-height: 1em;
	font-size: 14px;
	color: #fff;
	position: relative;
}

.contact strong {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

.contact p {
	padding: 22px 0 0;
	display: block;
	color: #757893;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

.contact a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
	vertical-align: top;
	padding: 0;
	margin: 0;
}

.footer {
	background: #313454;
	color: #808080;
}

.message-footer {
	text-align: center;
	padding: 30px 0;
	line-height: 1.2em;
	font-size: 14px;
	
}

.message-footer span {
	color: #e84545;
}

.message-footer strong {
	color: #fff;
}


.cont_icon {
	padding-top: 22px;
	display: flex;
	justify-content: center;
	align-items:flex-start;
	flex-direction: row;

}

@media only screen and (max-width: 1023px) {
.box {
  	width: 50%;
}

.logo {
    max-width: 170px;
}

.navigation li {
    font-size: 12px;
    padding: 0 10px;
}

.navigation ul {
    margin: 0px;
}

.header-wrap {
    padding: 15px 0;
}

.visual-bg {
    padding: 30px 0 70px;
	min-height: auto;
}

.box {
    padding: 0px;
}

.boxes-hold {
    padding: 30px 0 30px;
 }

.visual-bg-text h1 {
	font-size: 42px;
}

.visual-bg-text h2 {
	font-size: 17px;
}

.box {
    font-size: 12px;
}

.galery {
	width: 50%;
}

.team {
	width: 50%;
}

.message-holder {
    width: 295px;
    top: 40px;
    padding-top: 25px;
    padding-left: 35px;
 }

.message-holder p {
    margin-bottom: 40px;
    font-size: 11px;
}

.message-holder strong {
	font-size: 20px;
}

.flex-container {
    margin-bottom: 50px;
}
 .nav_btn {
 	display:none;
 }
  
}

@media only screen and (max-width: 767px) {
  .box, .galery, .team, .contact {
  	width: 100%;
  	text-align: center;
  }


 .visual-bg-text h1 {
	font-size: 20px;
}

.visual-bg-text h2 {
	font-size: 13px;
}

.box {
    font-size: 13px;
}

.message-holder {
    width: 200px;
    top: 50px;
 }

.message-holder p {
    margin-bottom: 11px;
    line-height: 1;
}

.message-holder strong {
	font-size: 19px;
	margin-bottom: 10px;
}

.name-face strong {
	font-size: 13px;
}

.flex-item {
	width: 5px;
	height: 5px;
}

.i {
	padding: 3px;
}

.contact {
    padding: 22px;
}

.nav_btn {
	 width: 30px;
	 height: 30px;
	 background: #000;
	 display: block;
	 position: relative;
	 top: 100%;
	 width: 100%;
	 left: -15px;
	 margin-bottom: -7px;
	 z-index: 9;
	}

.nav_btn::after, .nav_btn::before {
	content: '';	
}

.nav_btn::after, .nav_btn::before, .nav_btn span {
	position: absolute;
	height: 4px;
	width: 26px;
	left: 50%;
	transform: translateX(-50%);
	background: #fff;
	top: 18px;
	transition: all .3s ease-in-out;	
	border-radius: 5px;
}

.nav_btn::after {
	top: 12px;
}

.nav_btn::before{
	top: 6px;
}

.menu-active .nav_btn::after {
	opacity: 0;
}

.menu-active .nav_btn::before {
	top: 12px;
	left: -13px;
	transform: rotate(45deg);
}

.menu-active .nav_btn span {
	top: 12px;
	left: -13px;
	transform: rotate(-45deg);
}

nav {
	padding-top: 130px;
	opacity: 0;
	visibility: hidden;
	transition: all .3s ease-in-out;
	position: absolute;
	background: rgba(0,0,0,0.8);
	text-align: center;
	top: 0;
	left:100%;
	width: 100%;
	height: 100vh;
}

.menu-active nav {
	opacity: 1;
	visibility: visible;
	display: block;
	left: 0;
} 

.navigation li {
	display: block;
}

.navigation li a{
	border: none;
}

.navigation li a:after{
	display: none;

}
}
