//color
$gray: #777;
$black: #000;
$white: #fff;
$bg: #fafafa;
$blue: #7690c5;

// Body styles
$base-font-family: 'Brandon Grotesque', serif, sans-serif;
$add-font-times: 'Times New Roman', serif;
$base-text-color: $black;
$base-background-color: $white;
$base-font-size: 14px;
$base-line-height: 1;
$base-min-width: 320px;

// Links styles
$base-link-color: $black;

// Buttons styles
$btn-color: $white;
$btn-background: $black;
$btn-padding: 0;
$btn-font-size: inherit;
