body {
	margin: 0;
	padding: 0;
	font-size: 13px;
	color: #6d5384;
	min-width: 320px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

* {
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6, p {
	margin: 0;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

/*mobile*/
.nav_btn {
	width: 30px;
	height: 30px;
	background: #000;
	display: none;
}

.listreset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.wrap1 {
	overflow: hidden;
}

#wrapper {
	background: url("../img/main-bg.png");
	width: 100%;
	position: relative;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;	
}

.header-wrap {
	color: #fff;
	margin: 65px 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}

.navigation a {
	color: inherit;
	text-align: center;
}

.navigation ul {
	line-height: 0;
	font-size: 0;
	padding: 0;
	list-style: none;
	margin: 0 -5px; 
}

.navigation li {
	font-size: 18px;
	line-height: 1;
	display: inline-block;
	vertical-align: top;
	padding: 0 5px;
} 

.navigation li a {
	display: block;
	padding: 15px 20px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 5px;
	font-weight: 600;
	border: 1px solid #fff;
	min-width: 140px;
	position: relative;
	transition: all .3s ease-in-out;
}

.navigation li a:hover, .navigation li.active a{
	background: #f7df59;
	border-color: #f7df59;
	box-shadow: 0px 4px 0px -1px rgba(76,47,101,0.5);
}

.navigation li a:hover:after, .navigation li.active a:after {
	opacity: 1;
	visibility: visible;
	transition: .3s all .3s ease-in-out;
	transform: translate(-50%,-50%) rotate(45deg);
}

.navigation li a:after {
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	background: #f7df59;
	top: 100%;
	left: 50%;
	box-shadow: 3px 3px 0px 0px rgba(76,47,101,0.5);
	transform: translate(-50%,-50%) rotate(45deg);
	opacity: 0;
	visibility: hidden;
	transition: .3s all .3s ease-in-out;
	transition: none;
}

.logo-hold {
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	width: 84px;
	height: 84px;
	border-radius: 50%;
	border: 1px solid #fff;
	padding-top: 21px;
}

.logo a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
	vertical-align: top;
}

.logo-text {
	display: inline-block;
	vertical-align: middle;
	padding-left: 10px;
}

.top-text {
	display: block;
	font-size: 28px;
	line-height: 1;
	font-weight: 300;
}

.bottom-text {
	font-weight: 300;
	display: block;
	font-size: 14px;
	line-height: 1;
}

.visual-bg {
	background: url("../img/visula-bg.png");
	min-height: 835px;
	color: #fff;
	padding: 250px 0 70px;
	position: relative;	
	font-size: 34px;
	text-align: center;
}

.triangle {
	width: 20px;	
	height: 20px;
	transform: translate(-50%,-50%) rotate(45deg);
	z-index: 0;	
	position: absolute;	
	top: 100%;
	left: 50%;
	overflow: hidden;			
}

.triangle div {
	background: url("../img/visula-bg.png");
	width: 30px;	
	height: 30px;
	transform: 	rotate(-45deg);
}

.visual-bg h1 {
	word-spacing: 5px;
	font-size: 112px;
	line-height: 1;
	margin-bottom: 30px;
}

.visual-bg p {
	word-spacing: 13px;
}

.extra-color {
	color: #ead7fb;
}

.visual-text-hold {
	padding-bottom: 40px;
	border-bottom: 2px solid #9884aa;
	margin-bottom: 50px;
}

.pagination	{
	font-size: 0;
	line-height: 0;
	padding: 50px 0;
	text-align: center;
}

.pagination li {
	display: inline-block;
	vertical-align: top;
	height: 12px;
	width: 12px;
	cursor: pointer;
	border-radius: 50%;
	background: #fff;
	margin: 0 4px;
	transition: all .3s ease-in-out;
	position: relative;
}

.pagination li:after {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	border-radius: 50%;
	border: 1px solid #443255;
	opacity: 0;
	visibility: hidden;
	transition: all .3s ease-in-out;
}

.pagination li:hover, .pagination li.active {
	background: #443255;
}

.pagination li:hover:after, .pagination li.active:after {
	opacity: 1;
	visibility: visible;
}

.slideshow {
}

.slide {
	font-size: 28px;
	line-height: 1.2em;
	margin-bottom: 10px;
}

.slide-wrap {
	max-width: 820px;
	margin: 0 auto; 
}

.btns-hold {
	text-align: center;
	font-size: 0;
	line-height: 0;
}

.btns-hold li {
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
	line-height: 1.2;
	text-transform: uppercase;
	font-weight: bold;
	padding: 0 5px;
}

.btns-hold li a {
	display: block;
	padding: 20px 30px;
	text-decoration: none;
	color: #fff;
	border: 1px solid #9884aa;
	border-radius: 5px;
	transition: all .3s ease-in-out;
}

.btns-hold li a:hover {
	background: #69c7e2;
	border-color:  #69c7e2;
	box-shadow: 0px 4px 0px -1px rgba(76,47,101,0.5);
}

main {
	padding: 65px 0 0;
}

.heading {
	text-align: center;
	margin-bottom: 80px;
}

.heading h2 { 
	text-transform: uppercase;
	font-weight: 300;
	color: #654d7b;
	margin: 0 0 20px;
	font-size: 60px;
}

.heading h3 {
	color: #fff;
	font-size: 30px;
}

.boxes-hold {
	font-size: 0;
	line-height: 0;
	margin: 0 -35px;
}

.box {
	text-align: center;
	font-size: 18px;
	line-height: 1.2;
	width: 33.33%;
	display: inline-block;
	vertical-align: top;
	padding: 0 35px;
	margin-bottom: 95px;
}

.box a {
	padding: 20px;
	display: block;
	background: #fff;
	border-radius: 5px;
	text-decoration: none;
	color: #6b5181;
	box-shadow: 0px 1px 0px 0px rgba(209,209,209,1),
				0px 2px 0px 0px rgba(220,220,2020,1),
				0px 3px 0px 0px rgba(209,209,209,1),
				0px 4px 0px 0px rgba(220,220,2020,1);
}

.box:hover {
	transform: scale(0.95);
	transition: all .3s ease-in-out;
}

.box img {
	max-width: 100%;
	height: auto;
	display: inline-block;
	vertical-align: top;
	border-radius: 5px;
}

.img-hold {
	margin: 0 0 30px;
}

.box h4 {
	margin-bottom: 10px;
	text-transform: uppercase;
}

.info-wrap {
	border-bottom: 2px solid #6d5384;
}

.info {
	height: auto;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 1px 0px 0px rgba(209,209,209,1),
				0px 2px 0px 0px rgba(220,220,2020,1),
				0px 3px 0px 0px rgba(209,209,209,1),
				0px 4px 0px 0px rgba(220,220,2020,1);
	margin-bottom: 65px;
}

.info a:hover {
	text-decoration: overline;
}

.info p {
	padding: 30px 20px;
	line-height: 18px;
	font-size: 13px;
	text-align: center;
}

.footer {
	padding: 45px 0 70px;
}

.footer-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}

.left-block, .right-block {
	font-size: 14px;
}

.footer-link {
	text-decoration: none;
	color: inherit;
}

.footer-link:hover {
	text-decoration: underline;
}

@media only screen and (max-width: 1023px) {
.box {
  	width: 50%;
 }

.logo-hold {
	width: 60px;
	height: 60px;
	padding-top: 10px;
}

.top-text {
	font-size: 22px;
}

.bottom-text {
	font-size: 13px;
}

.navigation li {
    font-size: 14px;
 }

 .navigation li a {
    min-width: 100px;
 }

  .logo {
  	margin-bottom: 6px;
  }

  .visual-bg h1 {
  	font-size: 70px;
  }

  .visual-bg, .slide {
  	font-size: 22px;
  }

  .heading h2 {
  	font-size: 45px;
  }

  .visual-bg p {
    word-spacing: 4px;
  }

  .visual-bg {
    min-height: 740px;
    padding: 200px 0 65px;
 }

 .nav_btn {
 	display:none;
 }
}

@media only screen and (max-width: 767px) {
  .box {
  	width: 100%;
  }

  .visual-bg h1 {
  	font-size: 30px;
  	margin-bottom: 10px;
  }

  .visual-bg, .slide {
  	font-size: 15px;
  }

  .visual-text-hold {
    padding-bottom: 15px;
    margin-bottom: 15px;
   }

  .logo-hold {
	width: 30px;
	height: 30px;
	padding-top: 6px;
   }

   .logo-hold img {
	font-size: 0;
	line-height: 0;
	display: block;
	max-width: 70%;
    margin-left: 5px;
   }

   .logo {
	width: 100%;
	margin: 0 auto 30px;
   }

   .pagination li {
    height: 8px;
    width: 8px;
   }

    .pagination {
     padding: 15px;
    }

	.btns-hold li {
     font-size: 13px;
	}

   .btns-hold li a {
     padding: 5px 10px
    }

    .visual-bg {
  	 padding: 135px 0 40px;
    }

    .visual-bg {
     min-height: 410px
    }

    main {
     padding: 40px 0 0;
	}

	.heading {
	 margin-bottom: 30px;
	}

    .heading h2 {
  	 font-size: 20px;
  	 margin: 0 0 5px;
  	}

  	.heading h3 {
  	 font-size: 18px;
    }

    .nav_btn {
	 width: 30px;
	 height: 30px;
	 background: #000;
	 display: block;
	 position: relative;
	 top: 100%;
	 width: 100%;
	 left: -15px;
	 margin-bottom: 35px;
	 z-index: 9;
	}

.nav_btn::after, .nav_btn::before {
	content: '';	
}

.nav_btn::after, .nav_btn::before, .nav_btn span {
	position: absolute;
	height: 4px;
	width: 26px;
	left: 50%;
	transform: translateX(-50%);
	background: #fff;
	top: 18px;
	transition: all .3s ease-in-out;	
	border-radius: 5px;
}

.nav_btn::after {
	top: 12px;
}

.nav_btn::before{
	top: 6px;
}

.menu-active .nav_btn::after {
	opacity: 0;
}

.menu-active .nav_btn::before {
	top: 12px;
	left: -13px;
	transform: rotate(45deg);
}

.menu-active .nav_btn span {
	top: 12px;
	left: -13px;
	transform: rotate(-45deg);
}

nav {
	padding-top: 130px;
	opacity: 0;
	visibility: hidden;
	transition: all .3s ease-in-out;
	position: absolute;
	background: rgba(0,0,0,0.8);
	text-align: center;
	top: 0;
	left:100%;
	width: 100%;
	height: 100vh;
}

.menu-active nav {
	opacity: 1;
	visibility: visible;
	display: block;
	left: 0;
} 

.navigation li {
	display: block;
}

.navigation li a{
	border: none;
}

.navigation li a:after{
	display: none;

}

}