body {
	margin: 0;
	padding: 0;
	font-family: "raleway", sans-serif;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}
 
#wrapper {
	width: 100%;
	position: relative;
	overflow: hidden;
}

.container {
	max-width: 1200px;
	padding:0 15px;
	margin: 0 auto;
	text-align: center;
}

.uppercase{
	text-transform: uppercase;
}

.stylereset {
	list-style-type: none;
}

.header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 999;
}

.header-container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
	border-bottom: 2px solid #505369;
}

.logo a {
	display: inline-block;
	vertical-align: top;
}

.navigation ul{
	font-size: 0;
	line-height: 0;
	padding: 0;
	margin: 0;
}

.navigation li {
	font-size: 13px;
	font-weight: 700;
	line-height: 1;
	display: inline-block;
	vertical-align: top;
	padding: 0 30px;
}

.navigation a {
	text-decoration: none;
	color: #ccccd3;
}

.nav a:hover{
	color: #f40808; 
}

.active a{
	color:  #f40808;
}

.visual  {
	background: url("../img/bg-main.png");
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 200px 0 0;
	margin-bottom: 50px;
	
}

.visual h1 {
	font-family: "open_sans", sans-serif;
	font-size: 65px;
	font-weight: 700;
	color: #fff;
	margin-bottom: 30px;
	padding: 0 20px;
	word-spacing: 10px;
}

.visual p {
	font-family: "raleway", sans-serif;
	font-size: 22px;
	color: #fff;
	margin-bottom: 60px;
	padding: 0 30px;
}

.btn {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 150px;

}

.btn a {
	display: block;
	text-decoration: none;
	color: #fff;
	font-family: "raleway", sans-serif;
	font-size: 13px;
	font-weight: 600;
	background: #e84545;
	padding: 20px 50px;
	border-radius: 5px;
	
}

.btn a:hover{
	background: #f40808;
}

.main {
	background: #fff;
}

.content-box {
	font-size: 0;
	line-height: 0;
	margin: 0 -15px;
}

.content {
	display: inline-block;
	vertical-align: top;
	width: 33.3%;
	font-size: 14px;
	line-height: 1.2;
	padding: 0 15px;
	margin-bottom: 60px;
}

.content img {
	padding-bottom: 20px;
}

.content h4 {
	margin-bottom: 10px;
	font-weight: 700;
} 

.content p {
	margin-bottom: 10px;
	color: #6c7279;
	max-width: 300px;
	margin: 0 auto;
}

.photo-gallery {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 70px;
}

.photo-wrap {
	width: 25%;
	position: relative;
	font-size: 0;
	line-height: 0;
}

.photo-wrap a {
	display: block;
	text-decoration: none;
	color: #fff;

}


.hover-text {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 15px;
	line-height: 1;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition: all .5s	ease-in-out;
	background: rgba(232,69,69,0.9);
}

.title,.text {
	font-size: 14px;
}

.photo-wrap:hover .hover-text {
	opacity: 1;
	visibility: visible;
}

.photo-wrap:hover .title {
	transition: all .7s ease-in-out;
	transform: translateY(550%);
}

.photo-wrap:hover .text {
	transition: all .7s ease-in-out;
	transform: translateY(-550%);
}
.work-team {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 100px;
}

.worker {
	margin-bottom: 15px;
	max-width: 270px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: flex-start;
	text-align: left;
}

.worker img {
	margin-bottom: 20px;
}

.name-worker {
	font-family: inherit;
	font-weight: 400;
	font-size: 22px;
	color: #2d3033;
	margin-bottom: 10px;	
}

.worker-post {
	font-family: inherit;
	font-size: 13px;
	font-weight: 400;
	color: #e84545;
	margin-bottom: 10px;
} 

.worker-description {
	font-family: inherit;
	font-size: 14px;
	font-weight: 400;
	color: #6c7279;
	margin-bottom: 30px;

}

.social-media a {
	text-decoration: none;
}

.social-media a:hover {
	background: #e84545;
	color:#fff;
}

.facebook, .twitter, .linkedin {
	display: inline-block;
	vertical-align: top;
	width: 40px;
	height: 40px;
	border: 1px solid #c6cacc;
	color: #c6cacc;
	padding: 10px;
	text-align: center;
}







/*SLIDER PLACE*/







.download-container h3 {
	font-family: inherit;
	font-size: 28px;
	font-weight: 300;
	margin-bottom: 20px;
}

.download-container p {
	font-family: inherit;
	font-size: 13px;
	font-weight: 700;
	margin-bottom: 20px;
}

.download-container a {
	display: inline-block;
	vertical-align: top;
	background: #e84545;
	padding: 15px 60px;
	border-radius: 5px;
	color: #fff;
	text-decoration: none;
	font-family: inherit;
	font-weight: 600;
	font-size: 13px;
	margin-bottom: 40px;
}

.download-container a:hover {
	background: #f40808;
}

.footer-top {
	background: #3a3e64;
}

.footer-container {
	font-size: 0;
	line-height: 0;
}

.footer-info {	
	display: inline-block;
	vertical-align: top;
	width: 33.3%;
	font-size: 14px;
	line-height: 1.2;
	padding: 50px 30px;
}

.footer-info h5 {
	margin-bottom: 10px;
	font-family: inherit;
	font-weight: 700;
	color: #fff;
}

.footer-info p {
	margin-bottom: 10px;
	font-family: inherit;
	font-weight: 400;
	color: #9395a6;
}

.footer-bottom {
	background: #313454;
}

.footer-bottom p {
	font-family: inherit;
	font-size: 14px;
	font-weight: 400;
	color: #9395a6;
}

.footer-bottom i {
	color: #e84545;
}

.footer-bottom a {
	text-decoration: none;
	font-family: "open_sans";
	font-size: 14px;
	color: #fff;
}

.footer-bottom a:hover {
	color: #e84545;
}

.author-container p {
 margin-bottom: 10px;
}

.author-container {
	padding: 50px 0;
}