//color
$gray: #eff0f2;
$black: #000000;
$whitegray: #f8fafa;
$white: #fff;
$text-visual: #505050;
$aboutbg: #f8fafa;


// Body styles
$base-font-size: 'Montserrat', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$add-font-raleway: 'Raleway','Times New Roman', 'Times', 'Baskerville', 'Georgia',  sans-serif;
$add-font-merriweather: 'Merriweather','Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;
$base-text-color: $black;
$base-background-color: $whitegray;
$base-font-family: $base-font-size;
$base-font-size: 14px;
$base-line-height: 1;
$base-min-width: 320px;

// Links styles
$base-link-color: $black;

// Buttons styles
$btn-color: $white;
$btn-background: $black;
$btn-padding: 0;
$btn-font-size: inherit;
//icomoon
