// breakpoints for media
$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1366px
);


@import 'common-settings/include-media';
@import 'common-settings/normalize';
@import 'common-settings/icons';

@import 'basic-settings/variables';
@import 'basic-settings/reset';
@import 'basic-settings/heading-styles';

.container {
	max-width: 970px;
	margin: 0 auto;
	padding: 0 15px;
}

.uppercase {
	text-transform: uppercase;
}
#wrapper {
	width: 100%;
	position: relative;
	background-color: green;
	overflow: hidden;
}
.big-conteiner{
	max-width: 1400px;
	margin: 0 auto;
}
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 20;
	color: #fff;
	
}
.header-wrap {
	padding: 40px 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
    align-items:center;
    flex-direction: row;
    width: 100%;
}
.logo {
	width: 15%;
	cursor: pointer;
	img {
	width: 100%;
	height: auto;
	}
}
.navigation{
	 
}
.drop {
  font-size: 14px;


   > ul {
    line-height: 0;
	font-size: 0;
	padding: 0;
	margin: 0;
	list-style: none;
	margin: 0 -5px; 


    > li {
      font-family: 'Brandon Grotesque', sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 1;
	display: inline-block;
	vertical-align: top;
	padding: 0 13px;
	position: relative;


      &:last-child {
        .dropdown {
          left: auto;
          right: 0;
        }

        .dropdown-second {
          left: auto;
          right: 100%;
        }
      }

      &:hover {
         .dropdown {
          visibility: visible;
          opacity: 1;
        }
      }

      > a {
      	display: block;
		text-decoration: none;
		position: relative;
		transition: all .3s ease-in-out;
        color: inherit;
         z-index: 2;

        
      }
       &:hover, &.active &{
		background: #31263f;
		box-shadow: 0px 4px 0px -1px #2d264f;
		transform: scale(1.1);
		padding: 5px;
		font-size: 20px;
		border-radius: 10%;
		}
    }
  } 

  a {
    display: block;
    transition: all .3s ease-in-out;
  } 
}

.dropdown {
  width: 200px;
  background: $white;
  transition: all .3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;

  > ul {

    > li {
      position: relative;
      color: #fff;
      background: #31263f;
		box-shadow: 0px 4px 0px -1px #2d264f;
		display:block;
		text-align: center;
		border-radius: 15px;

      &:hover{
		  
          background: #e0e0e0;
          color: #31263f;
        
        .dropdown-second {
          opacity: 1;
          visibility: visible;
        }
      }

      > a {
        color: inherit;
        padding: 10px;


        &:hover , &.active {
          background: #e0e0e0;
          color: #31263f;
        }
      }
    }
  }
}

.dropdown-second {
  width: 200px;
  background: #31263f;
  transition: all .3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 100%;

  a {
    color: $white;
    
}
	
	li{
		display: block;
		padding: 10px;
		&:hover {
      background: #e0e0e0;
       color: #31263f;

    }
	}
    
  
}
.visual {
	background: url("../img/visul-bg.jpg");
	color: #fff;
	padding-top: 100px;
	position: relative;
	z-index: 10;
	background-repeat: no-repeat;
	min-height: 618px;

}