@font-face {
    font-family: 'arial';
    src: url('AAJYKSTTNooksScript-Regular.woff2') format('woff2'),
        url('AAJYKSTTNooksScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

