@import url("iconsFonts.css");
body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
  color: #6c7279;
  font-weight: 400;
  background-color: #31354f; }
  body * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  body h1, body h2, body h3, body h4, body h5, body h6, body p {
    margin: 0 0 20px; }
  body .container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto; }
  body .uppercase {
    text-transform: uppercase; }
  body .extra-color {
    color: #e84545; }
  body #wrapper {
    position: relative;
    width: 100%; }
    body #wrapper header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 9999; }
    body #wrapper .header-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    body #wrapper .navigation ul {
      line-height: 0;
      font-size: 0;
      padding: 0;
      margin: 0;
      list-style: none;
      margin: 0 -10px; }
      body #wrapper .navigation ul li {
        display: inline-block;
        vertical-align: top;
        font-size: 13px;
        line-height: 1.2;
        padding: 0 10px; }
        body #wrapper .navigation ul li a {
          display: block;
          color: #fff;
          text-transform: uppercase;
          padding: 45px 20px;
          text-decoration: none; }
