@import "reset";
@import "variables";
@import "helpers";
@import "include-media";
@import "mixins";
@import "../icomoon/icons";




.wrapper {
	width: 100%;
	// overflow: hidden;
	position: relative;
}

.header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 999;
}
.header-wrap {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.container {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}
body {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	padding: 0;
}

.navigation {
	display: none;
	ul {
		padding: 0;
		margin: 0;
		font-size: 0;
		line-height: 0;
		list-style-type: none;
		
		li {
			display: block;
			font-size: 15px;
			line-height: 1.2;

			a {
				text-decoration: none;
				color: #000;
			}

		}

	}
}
.nav-btn {
	display: block;
	width: 40px;
	height: 40px;
	background: pink;
	position: relative;
	cursor: pointer;

}

 .nav-btn span, .nav-btn span::before, .nav-btn span::after{
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #606061;
  }
  .nav-btn span::before, .nav-btn span::after{
    content:"";
    transition: .7s;
  }
  .nav-btn  span::before {
    transform: translateY(-5px);
  }
  .nav-btn span::after{
    transform: translateY(5px);
  }

   .menu_active  span::before{
    transform: rotate(35deg);
    transform-origin: left top;
    width: 10px; 
  }
  .menu_active  span::after{
    transform: rotate(-35deg);
    transform-origin: left bottom;
    width: 10px;
  }




  .visual {
  	text-align: center;
  	min-height: 695px;
  	white-space: nowrap;
  	padding: 50px 0;
  	background: #eff0f2;

  	&:after {
  		content: "";
  		display: inline-block;
  		vertical-align: middle;
  		width: 0;
  		min-height: 695px;
  	}
  	>* {
  		white-space: normal;
  		display: inline-block;
  		vertical-align: middle;	
  	}
  	.text-hold {
  		font-size: 45px;
  		letter-spacing: 1px;
  		text-transform: uppercase;
  		margin-bottom: 50px;

  		.bg-color {
  			background: #b2f2ee;
  		}
  	}

  	.btn {
  		display: inline-block;
  		vertical-align: top;
  		border: 2px solid #000;

  		a {
  			text-decoration: none;
  			display: block;
  			padding: 20px 50px;
  			text-transform: uppercase;
  			color: #000;

  		}
  	}

  	.img-hold {
  		display: inline-block;
  		vertical-align: top;
  		float: right;
  	}
  	.clearfix:after {
		content: "";
		display: table;
		clear: both;
  	}
  }

.main {
	.text-hold {
  		text-align: center;
  		margin-bottom: 50px;
  		text-transform: uppercase;
  		h2 {
  			font-size: 38px;
  		}
  		p {
  			font-size: 18px;
  		}
}
}

  .about-us {
  	padding: 100px 0;
    
  	.owl-carousel {
  		display: flex;
  		flex-flow:row wrap;
  		justify-content: space-between;
  		align-items:center;
  		  
        .owl-nav {
          display: none;
        }
        .owl-dots {
          button {
            display: inline-block;
            vertical-align: top;
            width: 10px;
            height: 10px;
            background: #d0d0d0;
            margin: 0 2px;
            border-radius: 50%;

            &.active {
              background: #71f6eb;
            }
          }
        }
      .slide-item{
        
        .slide-photo {
          background: url("../img/Image.png");
          background-size: cover;
          width: 415px;
          height: 530px;
          display: inline-block;
          vertical-align: middle;
          position: relative;

          &:after {
            content: "";
            position: absolute;
            left: -20px;
            bottom: 40px;
            right: -20px;
            top: 40px;
            background: #eeeff1;
            z-index: -1;
          }
        }

        .description-slides {
          display: inline-block;
          vertical-align: middle;
          width: 600px;
          padding: 50px;
          
          strong {
            display: inline-block;
            vertical-align: top;
            margin-bottom: 30px;
            text-transform: uppercase;
          }
          p {
            margin-bottom: 20px;
          }
        }
      }   		
  	}
  }

 .featured-works {
  
  padding: 100px 0;
 	.gallery {
 	
	   .photo-wrap {
		    display: inline-block;
	     	vertical-align: top;
		    max-width: 33.333%;
		  }
 	  }
  }

 .our-service {
  
  padding: 100px 0;

  .service-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items:center;
  }
 


  .img {
    position: relative;
    display: inline-block;  
    vertical-align: top;
    font-size: 20px;
    line-height: 1;
      &.ok {
          .hover-text{
            opacity: 1;
            visibility: visible;
          }
        }
      .know-more {
        // color: #000;
        // position: absolute;
        // bottom: 20%;
        // left: 20%;
        // transform: translateX(-20%);
        // z-index: 999;

        &:hover {
          cursor: pointer;
        }
      }

      .hover-text {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        background: #71f5ea;
        z-index: 1;
        padding: 40px;

        strong {
          display: inline-block;
          vertical-align: top;
          margin-bottom: 30px;
        }
        p {
          max-width: 470px;
        }
      }  
    }
}

.visible-text {
  	position: absolute;
  	left: 40%;
  	top: 50%;
  	transform:translate(-50%,-50%);
  	font-size: 20px;
    max-width: 300px;
	  p {
		  margin-bottom: 20px;	
	   }
}

 .our-team {
    padding: 100px 0 100px;
    .team-wrap {
      display: flex;
      flex-flow:row wrap;
      justify-content: space-around;
      align-items:center;

      .worker {
        position: relative;
        margin-bottom: 10px;
        padding: 0 5px;

          &:hover {

            .worker-say {
              opacity: 1;
              visibility: visible;
            }
          }

        .worker-photo {
          width: 370px;
          height: 440px;
        }
        .worker-say {
          text-align: left;
          position: absolute;
          top: 55%;
          left: 50%;
          bottom: -10%;
          width: 330px;
          transform: translate(-50%, -30%);
          background: #70f6eb;
          padding: 20px 10px;
          opacity: 0;
          visibility: hidden;
          transition: all .4s ease-in-out; 

            &:before {
              content: "";
              position: absolute;
              left: 10%;
              bottom: 100%;
              border-bottom: 20px solid #70f6eb;
              border-right: 15px solid transparent;    
              border-left: 15px solid transparent;   
            }

          .worker-info {
            padding: 0 10px;
          }
          .worker-name {
            text-transform: uppercase;
            font-size: 20px;
          }
          .worker-post {
            font-size: 15px;
          }
        }
          p {
           margin-bottom: 40px;
          }
          ul {
            font-size: 0;
            line-height: 0;
            margin: 0;
            padding: 0;

            li {
              display: inline-block;
              vertical-align: top;
              font-size: 14px;
              line-height: 1.2;
              padding: 0 5px;

              a {
                text-decoration: none;
                color: inherit;

                &:hover {
                  color: yellow;
                } 
              }
            }
          }
      }
    }
 } 

.worker-info {
          margin-bottom: 20px;
        }

 .testimonials {
  padding: 100px 0;
  background:  #f9fbfb;
  .owl-carousel {
    .owl-dots {
      button {
        display: inline-block;
        vertical-align: top;
        width: 10px;
        height: 10px;
        background: #d0d0d0;
        margin: 0 2px;
        border-radius: 50%;
          &.active {
            background: #71f6eb;
          }
        }
      }
    
    .owl-nav {
      text-align: right;
      .owl-prev,.owl-next {
        width: 55px;
        height: 55px;
        margin: 0 5px;
        background: $white;
        -webkit-box-shadow: 10px 10px 30px -6px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 30px -6px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 30px -6px rgba(0,0,0,0.75);
        display: inline-block;
        vertical-align: top;
        font-weight: bold;
        font-family: "Helvetica";
        font-size: 50px;

      &:hover {
        background: #71f6eb;
      }
      }
    }
    .slide-item {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items:center;
      .slide-photo {
          background-image: url('../img/team_1.png');
          background-size: cover;
          min-height: 450px;
          width: 350px;
      }

      .slide-text {
        background: #eaebed;
        display: inline-block;
        vertical-align: top;
        max-width: 660px;
        padding: 40px;
        text-align: center;

        p {
          margin-bottom: 20px;
        }

        ul {
          @extend %listreset;

          li {
            display: inline-block;
            vertical-align: top;
            padding: 0 5px;

            i {
              color: #f2db45;
            }
          }
        }
      }
    }
  }
}

.our-partners {
  .logos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    .logo {
      margin: 20px 40px;
    }
  }

  .logos2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    .logo {
    margin: 20px 20px;
    }
  }
}

.contacts {
  padding: 100px 0;
  background: url("../img/bg.png");
  background-size: cover;

  .contact-form {
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
    align-items:center;

    .your-contacts{
      background: #021623;
      opacity: .7;
      max-width: 615px;
      max-height: 460px;

      form {
        padding: 30px;
        input, textarea {
          display: block;
          margin-bottom: 20px;
          width: 100%;
          background: #021623;
          border:none;
          border-bottom: 1px solid $white;
          padding: 10px 0;
          resize: none;
        }

        .send-message {
          padding: 10px 20px;
          background: #6eeee4;
          border: none;
          color: $black;
          font-size: 18px;
          border-radius: 5px;

          &:hover {
            background: red;
          }
        }
      }
    }

    .our-contacts {
      background: #021623;
      opacity: .7;
      color: $white;
      padding: 25px;
      max-width: 500px;
      max-height: 460px;

      ul {
        display: block;
        margin-bottom: 5px;
        @extend %listreset;
        li {
          display: block;
          line-height: 1.2;
        }
      }

      a {
        display: block;
        text-decoration: none;
        color: $white;
      }
    }
  }
}

.footer {
  background: #262b2e;
  text-align: center;
  padding: 100px 0;
  color: $white;
  .follow-us {
    strong {
      display: block;
      margin-bottom: 20px;
      font-size: 16px;
      text-transform: uppercase;
    }
  }
  .social-media {
    @extend %listreset;
    display: block;
    margin-bottom: 20px;
    li {
      display: inline-block;
      vertical-align: top;
      background: #424648;

      a {
        display: block;
        text-decoration: none;
        color: $white;
        padding: 10px;
        @extend %transition;
        &:hover {
          background: #6eeee4;
          color: $black;
        }
      }
    }
  }
}