@font-face {
  font-family: 'brandon_grotesque';
  src: url("../fonts/brandongrotesque-bold-webfont.eot");
  src: url("../fonts/brandongrotesque-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandongrotesque-bold-webfont.woff2") format("woff2"), url("../fonts/brandongrotesque-bold-webfont.woff") format("woff"), url("../fonts/brandongrotesque-bold-webfont.ttf") format("truetype"), url("../fonts/brandongrotesque-bold-webfont.svg#brandon_grotesquebold") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'brandon_grotesque';
  src: url("../fonts/brandongrotesque-light-webfont.eot");
  src: url("../fonts/brandongrotesque-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandongrotesque-light-webfont.woff2") format("woff2"), url("../fonts/brandongrotesque-light-webfont.woff") format("woff"), url("../fonts/brandongrotesque-light-webfont.ttf") format("truetype"), url("../fonts/brandongrotesque-light-webfont.svg#brandon_grotesquelight") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'brandon_grotesque';
  src: url("../fonts/brandongrotesque-medium-webfont.eot");
  src: url("../fonts/brandongrotesque-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandongrotesque-medium-webfont.woff2") format("woff2"), url("../fonts/brandongrotesque-medium-webfont.woff") format("woff"), url("../fonts/brandongrotesque-medium-webfont.ttf") format("truetype"), url("../fonts/brandongrotesque-medium-webfont.svg#brandon_grotesquemedium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'brandon_grotesque';
  src: url("../fonts/brandongrotesque-regular-webfont.eot");
  src: url("../fonts/brandongrotesque-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandongrotesque-regular-webfont.woff2") format("woff2"), url("../fonts/brandongrotesque-regular-webfont.woff") format("woff"), url("../fonts/brandongrotesque-regular-webfont.ttf") format("truetype"), url("../fonts/brandongrotesque-regular-webfont.svg#brandon_grotesqueregular") format("svg");
  font-weight: 400;
  font-style: normal; }
